@using Realta.Frontend.Pages.Master
@if (priceItems.Count > 0)
{
                                <table class="table">
                                <thead>
                                    <tr>
                                        <th class="lead-info">
                                            <h6>ID</h6>
                                        </th>
                                        <th class="lead-email">
                                            <h6>Item Name</h6>
                                        </th>
                                        <th class="lead-phone">
                                            <h6>Price</h6>
                                        </th>
                                        <th class="lead-company">
                                            <h6>Type</h6>
                                        </th>
                                        <th>
                                            <h6>Action</h6>
                                        </th>
                                    </tr>
                                    <!-- end table row-->
                                </thead>
                                <tbody>
                                    @foreach(var priceitems in priceItems)
                                    {
                                        <tr>
                                            <td>
                                                <div class="lead">
                                                    <div class="lead-image">
                                                        <img src="@priceitems.PritIconUrl" alt="">
                                                    </div>
                                                    <div class="lead-text">
                                                        <p>@priceitems.PritId</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="lead">
                                                    <div class="lead-text">
                                                        <p><a>@priceitems.PritName</a></p>
                                                    </div>
                                                        <div class="lead-info action">
                                                            <button class="text-grey">
                                                            <i class="lni lni-angle-double-right" title="Description" data-bs-toggle="modal" data-bs-target="#popupmodal"></i>
                                                            </button>
                                                        </div>
                                                </div>
                                            </td>
                                            <td>
                                                <td class="text-sm">Rp. @string.Format("{0:n0}", priceitems.PritPrice)</td>
                                            </td>
                                            <td>
                                                <p>@priceitems.PritType</p>
                                            </td>
                                            <td>
                                                <button class="more-btn ml-10 dropdown-toggle" id="moreAction" data-bs-toggle="dropdown" aria-expanded="false" title="more">
                                                    <span class="mdi mdi-dots-vertical"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction">
                                                    <li class="dropdown-item">
                                                        <a class="text-gray" href="#" data-bs-toggle="modal" data-bs-target="#@($"UpdateModal")">Edit</a>
                                                    </li>
                                                    <li class="dropdown-item">
                                                        <a class="text-danger" href="#" data-bs-toggle="modal" data-bs-target="#@($"delete")">Delete</a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                    <!-- end table row -->
                                </tbody>
                            </table>

}