@page "/purchasing/gallery"

<PageTitle>Gallery</PageTitle>

<section class="card-components">
  <div class="container-fluid">
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="title mb-30">
            <h2>Gallery</h2>
          </div>
        </div>
        <!-- end col -->
        <div class="col-md-6">
          <div class="breadcrumb-wrapper mb-30">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="purchasing">Purchasing</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Gallery
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <!-- ========== cards-styles start ========== -->
    <div class="cards-styles">
      <div class="row">
        <div class="col">
          <div class="row">
            @foreach (var product in Products)
            {
              <div class="mb-30 col-xl-3 col-lg-3 col-md-4 col-sm-4">
                <div class="card border-0">
                  <img src="vendor/assets/images/products/product-mini-2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text text-sm fw-bold text-muted">@product.StockName</p>
                    <p class="card-text text-sm mb-2">@product.VendorName</p>
                    <div class="row">
                      <div class="col">
                        <p class="card-text text-sm">Stck:20</p>
                      </div>
                      <div class="col-7">
                        <p class="card-text text-sm">ReOrd:20</p>
                      </div>
                    </div>
                    <p class="card-text text-sm fw-bold text-muted">@product.Price.ToString("C0", new CultureInfo("id-ID"))</p>
                  </div>
                  <div class="d-flex justify-content-end">
                    <button @onclick="() => AddToCart(product)" class="main-btn dark-btn btn-sm rounded-bottom rounded-top-0 btn-hover w-100" data-bs-toggle="collapse" aria-expanded="false" aria-controls="cart">Add to cart</button>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
        <div class="collapse col-3 @(CartIsOpen ? "show" : "")" id="cart">
          <div class="card border-0">
            <div class="card-header d-flex justify-content-between border-0">
              <h6>Items Ordered</h6>
              <button type="button" class="border-0 bg-transparent h6" @onclick="CloseCart">
                <i class="lni lni-cross-circle"></i>
              </button>
            </div>
            @if (Cart.Instance.Items.Any())
            {
              <div class="card-body">
                @foreach (var item in Cart.Instance.Items)
                {
                  <div class="d-flex justify-content-between">
                    <p class="card-text text-sm fw-bold text-muted">
                      @item.Product?.StockName <produk></produk>
                    </p>
                    <button type="button" class="border-0 bg-transparent h6" @onclick="() => RemoveItem(item.Product.VeproId)">
                      <i class="lni lni-trash-can text-danger"></i>
                    </button>
                  </div> 
                  <p class="card-text text-sm mb-2">@item.Product?.VendorName</p>
                  <div class="row">
                    <label for="price" class="card-text text-sm form-label text-muted col">Price</label>
                    <div class="col-7">
                      <input type="text" name="price" id="price" class="form-control form-control-sm text-sm text-muted border-0 bg-transparent" value="@item.Product?.Price.ToString("C0", new CultureInfo("id-ID"))" readonly/>
                    </div>
                  </div>
                  <div class="row">
                    <label for="qty" class="card-text text-sm form-label text-muted col">Qty</label>
                    <div class="col-7">
                      <input type="number" name="qty" id="qty" class="form-control form-control-sm text-sm text-muted border-0" min="1" value="@item.Quantity" @oninput="@(e => UpdateItemQuantity(item, int.Parse(e.Value.ToString())))"/>
                    </div>
                  </div>
                  <div class="row">
                    <label for="subtotal" class="card-text text-sm form-label text-muted col">Sub total</label>
                    <div class="col-7">
                      <input type="text" name="subtotal" id="subtotal" class="form-control form-control-sm text-sm text-muted border-0 bg-transparent" value="@item.Subtotal.ToString("C0", new CultureInfo("id-ID"))" readonly/>
                    </div>
                  </div>
                  <hr/>
                }
                <div class="row">
                  <label for="subtotal" class="card-text fw-bold form-label text-muted col">Sub total</label>
                  <div class="col-7">
                    <input type="text" name="subtotal" id="subtotal" class="form-control form-control-sm fw-bold text-muted border-0 bg-transparent" value="@Cart.Instance.TotalPriceExcludingTax.ToString("C0", new CultureInfo("id-ID"))" readonly/>
                  </div>
                </div>
                <div class="row">
                  <label for="tax" class="card-text fw-bold form-label text-muted col">Tax (10%)</label>
                  <div class="col-7">
                    <input type="text" name="tax" id="tax" class="form-control form-control-sm fw-bold text-muted border-0 bg-transparent" value="@Cart.Instance.TaxAmount.ToString("C0", new CultureInfo("id-ID"))" readonly/>
                  </div>
                </div>
                <div class="row">
                  <label for="total" class="card-text fw-bold form-label text-muted col">Total</label>
                  <div class="col-7">
                    <input type="text" name="total" id="total" class="form-control form-control-sm fw-bold text-muted border-0 bg-transparent" value="@Cart.Instance.TotalPrice.ToString("C0", new CultureInfo("id-ID"))" readonly/>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <a href="#0" class="main-btn primary-btn btn-sm rounded-0 btn-hover w-100 rounded-bottom rounded-top-0">Request order</a>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
    <!-- ========== cards-styles end ========== -->
  </div>
  <!-- end container -->
</section>

@code {

  public List<Product>? Products { get; set; }

  protected override void OnInitialized()
  {
    base.OnInitialized();
    Products = new List<Product>()
    {
      new Product { VeproId = 1, VendorName = "Vendor A", StockName = "Product A1", Price = 100, EmpId = 101 },
      new Product { VeproId = 2, VendorName = "Vendor B", StockName = "Product B1", Price = 200, EmpId = 102 },
      new Product { VeproId = 3, VendorName = "Vendor C", StockName = "Product C1", Price = 300, EmpId = 103 },
      new Product { VeproId = 4, VendorName = "Vendor D", StockName = "Product D1", Price = 400, EmpId = 104 },
      new Product { VeproId = 5, VendorName = "Vendor E", StockName = "Product E1", Price = 500, EmpId = 105 },
      new Product { VeproId = 6, VendorName = "Vendor F", StockName = "Product F1", Price = 600, EmpId = 106 },
      new Product { VeproId = 7, VendorName = "Vendor G", StockName = "Product G1", Price = 700, EmpId = 107 },
      new Product { VeproId = 8, VendorName = "Vendor H", StockName = "Product H1", Price = 800, EmpId = 108 },
      new Product { VeproId = 9, VendorName = "Vendor I", StockName = "Product I1", Price = 900, EmpId = 109 },
      new Product { VeproId = 10, VendorName = "Vendor J", StockName = "Product J1", Price = 1000, EmpId = 110 }
    };
  }

  private void AddToCart(Product product)
  {
    Cart.Instance.AddItem(product);
    OpenCart();
  }

  private void UpdateItemQuantity(CartItem item, int newQuantity)
  {
    if (newQuantity < 1)
    {
      newQuantity = 1;
    }

    if (item.Product != null) Cart.Instance.UpdateQuantity(item.Product.VeproId, newQuantity);

  // Refresh the cart view
    StateHasChanged();
  }

  private static void RemoveItem(int veproId)
  {
    Cart.Instance.RemoveItem(veproId);
  }
  
  [Parameter]
  public bool CartIsOpen { get; set; } = false;

  private void OpenCart()
  {
    CartIsOpen = true;
  }

  private void CloseCart()
  {
    CartIsOpen = !CartIsOpen;
  }

}