@page "/purchasing/list-order"

@inherits LayoutComponentBase

<PageTitle>Purchase Order</PageTitle>

<section class="table-components">
<div class="container-fluid">
<!-- ========== title-wrapper start ========== -->
<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h2>Purchase Order</h2>
      </div>
    </div>
    <!-- end col -->
    <div class="col-md-6">
      <div class="breadcrumb-wrapper mb-30">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/purchasing">Purchasing</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Purchase Order
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- ========== title-wrapper end ========== -->

<!-- ========== tables-wrapper start ========== -->
<div class="tables-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="card-style mb-30">
        <div class="title d-flex flex-wrap align-items-left justify-content-between">
          <h6 class="mb-10">Purchase Order</h6>
          <div class="d-flex align-items-center">
            <h6>Status:</h6>
            <div class="select-style-1 mb-0 ml-10">
              <div class="select-position">
                <select class="p-0 pe-5 border-0">
                  <option value="" selected>Semua</option>
                  <option value="1">Pending</option>
                  <option value="2">Approved</option>
                  <option value="3">Received</option>
                  <option value="4">Rejected</option>
                  <option value="5">Completed</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
          <div class="left">
            <p>Show <span>@TotalRows</span> entries</p>
          </div>
          <div class="right">
            <div class="table-search d-flex">
              <form action="#">
                <input type="text" placeholder="Search...">
                <button>
                  <i class="lni lni-search-alt"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="table-wrapper table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th class="min-width">
                <h6>#</h6>
              </th>
              <th class="min-width">
                <h6>PO Number</h6>
              </th>
              <th class="min-width">
                <h6>PO Date</h6>
              </th>
              <th class="min-width">
                <h6>Vendor Target</h6>
              </th>
              <th class="min-width">
                <h6>Line Items</h6>
              </th>
              <th class="min-width">
                <h6>Total Amount</h6>
              </th>
              <th class="min-width">
                <h6>Status</h6>
              </th>
              <th>
                <h6>Action</h6>
              </th>
            </tr>
            <!-- end table row-->
            </thead>
            <tbody>
            @for (int i = 1; i <= @TotalRows; i++)
            {
              <tr>
                <td>
                  <p>@i</p>
                </td>
                <td>
                  <p>@("PO-20230303-00{i}")</p>
                </td>
                <td>
                  <p>2023-03-01</p>
                </td>
                <td>
                  <p>Cocoalici LLC</p>
                </td>
                <td>
                  <p>2</p>
                </td>
                <td>
                  <p>IDR 5,000,000.00</p>
                </td>
                <td>
                  <span class="status-btn success-btn">Pending</span>
                </td>
                <td>
                  <button class="more-btn ml-10 dropdown-toggle text-gray" id="moreAction" data-bs-toggle="dropdown" aria-expanded="false" title="more">
                    @* <i class="lni lni-more-alt"></i> *@
                    <span class="mdi mdi-dots-vertical"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction">
                    <li class="dropdown-item">
                      <a class="text-gray" href="/purchasing/list-order/PO-20230303-001">Details</a>
                    </li>
                    <li class="dropdown-item">
                      <a class="text-gray" href="#" data-bs-toggle="modal" data-bs-target="#@($"updateStatus{i}")">Switch Status</a>
                    </li>
                    <li class="dropdown-item">
                      <a class="text-danger" href="#" data-bs-toggle="modal" data-bs-target="#@($"delete{i}")">Delete</a>
                    </li>
                  </ul>
                </td>
              </tr>
            }
            </tbody>
          </table>
          <!-- end table -->
        </div>

        <Paging/>

      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- ========== tables-wrapper end ========== -->

<div class="tables-wrapper">
<div class="row">
<div class="col-lg-12">
<div class="card-style mb-30">
<h6 class="mb-10">Responsive Data Table</h6>
<div class="table-responsive">
<div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
<div class="dataTable-top">
  <div class="dataTable-dropdown">
    <label>
      <select class="dataTable-selector">
        <option value="5">5</option><option value="10" selected="">10</option><option value="15">15</option><option value="20">20</option><option value="25">25</option>
      </select> entries per page
    </label>
  </div>
  <div class="dataTable-search">
    <input class="dataTable-input" placeholder="Search..." type="text">
  </div>
</div>
<div class="dataTable-container">
<table id="table" class="table dataTable-table">
<thead>
<tr>
  <th data-sortable="" style="width: 26.9592%;">
    <a href="#" class="dataTable-sorter">
      <h6>Name</h6>
    </a>
  </th>
  <th data-sortable="" style="width: 10.1358%;">
    <a href="#" class="dataTable-sorter">
      <h6>Ext.</h6>
    </a>
  </th>
  <th data-sortable="" style="width: 26.4368%;">
    <a href="#" class="dataTable-sorter">
      <h6>City</h6>
    </a>
  </th>
  <th data-type="date" data-format="YYYY/MM/DD" data-sortable="" style="width: 18.4953%;">
    <a href="#" class="dataTable-sorter">
      <h6>Start Date</h6>
    </a>
  </th>
  <th data-sortable="" style="width: 17.9728%;">
    <a href="#" class="dataTable-sorter">
      <h6>Completion</h6>
    </a>
  </th>
</tr>
</thead>
<tbody>
<tr>
  <td>
    <p>Unity Pugh</p>
  </td>
  <td>
    <p>9958</p>
  </td>
  <td>
    <p>Curicó</p>
  </td>
  <td>
    <p>2005/02/11</p>
  </td>
  <td>
    <p>37%</p>
  </td>
</tr>
<tr>
  <td>
    <p>Theodore Duran</p>
  </td>
  <td>
    <p>8971</p>
  </td>
  <td>
    <p>Dhanbad</p>
  </td>
  <td>
    <p>1999/04/07</p>
  </td>
  <td>
    <p>97%</p>
  </td>
</tr>
<tr>
  <td>
    <p>Kylie Bishop</p>
  </td>
  <td>
    <p>3147</p>
  </td>
  <td>
    <p>Norman</p>
  </td>
  <td>
    <p>2005/09/08</p>
  </td>
  <td>
    <p>63%</p>
  </td>
</tr>
<tr>
  <td>
    <p>Willow Gilliam</p>
  </td>
  <td>
    <p>3497</p>
  </td>
  <td>
    <p>Amqui</p>
  </td>
  <td>
    <p>2009/29/11</p>
  </td>
  <td>
    <p>30%</p>
  </td>
</tr>
<tr>
  <td>
    <p>Blossom Dickerson</p>
  </td>
  <td>
    <p>5018</p>
  </td>
  <td>
    <p>Kempten</p>
  </td>
  <td>
    <p>2006/11/09</p>
  </td>
  <td>
    <p>17%</p>
  </td>
</tr>
<tr>
  <td>
    <p>Elliott Snyder</p>
  </td>
  <td>
    <p>3925</p>
  </td>
  <td>
    <p>Enines</p>
  </td>
  <td>
    <p>2006/03/08</p>
  </td>
  <td>
    <p>57%</p>
  </td>
</tr>
<tr>
  <td>
    <p>Castor Pugh</p>
  </td>
  <td>
    <p>9488</p>
  </td>
  <td>
    <p>Neath</p>
  </td>
  <td>
    <p>2014/23/12</p>
  </td>
  <td>
    <p>93%</p>
  </td>
</tr>
<tr>
  <td>
    <p>Pearl Carlson</p>
  </td>
  <td>
    <p>6231</p>
  </td>
  <td>
    <p>Cobourg</p>
  </td>
  <td>
    <p>2014/31/08</p>
  </td>
  <td>
    <p>100%</p>
  </td>
</tr>
<tr>
  <td>
    <p>Deirdre Bridges</p>
  </td>
  <td>
    <p>1579</p>
  </td>
  <td>
    <p>Eberswalde-Finow</p>
  </td>
  <td>
    <p>2014/26/08</p>
  </td>
  <td>
    <p>44%</p>
  </td>
</tr>
<tr>
  <td>
    <p>Daniel Baldwin</p>
  </td>
  <td>
    <p>6095</p>
  </td>
  <td>
    <p>Moircy</p>
  </td>
  <td>
    <p>2000/11/01</p>
  </td>
  <td>
    <p>33%</p>
  </td>
</tr>
</tbody>
</table>
</div>
<div class="dataTable-bottom">
  <div class="dataTable-info">Showing 1 to 10 of 100 entries</div>
  <nav class="dataTable-pagination">
    <ul class="dataTable-pagination-list">
      <li class="active">
        <a href="#" data-page="1">1</a>
      </li>
      <li class="">
        <a href="#" data-page="2">2</a>
      </li>
      <li class="">
        <a href="#" data-page="3">3</a>
      </li>
      <li class="">
        <a href="#" data-page="4">4</a>
      </li>
      <li class="">
        <a href="#" data-page="5">5</a>
      </li>
      <li class="">
        <a href="#" data-page="6">6</a>
      </li>
      <li class="">
        <a href="#" data-page="7">7</a>
      </li>
      <li class="ellipsis">
        <a href="#">…</a>
      </li>
      <li class="">
        <a href="#" data-page="10">10</a>
      </li>
      <li class="pager">
        <a href="#" data-page="2">›</a>
      </li>
    </ul>
  </nav>
</div>
</div>
</div>
</div>
<!-- end card -->
</div>
<!-- end col -->
</div>
<!-- end row -->

</div>
</div>
<!-- end container -->
</section>

@for (int i = 1; i <= @TotalRows; i++)
{
  // Update Modal
  <div class="warning-modal">
    <div class="modal fade" id="@($"updateStatus{i}")" tabindex="-1" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content card-style" action="/update" method="post">
          <div class="modal-header px-0 border-0">
            <h5 class="text-bold">Switch Status</h5>
            <button type="button" class="border-0 bg-transparent h1" data-bs-dismiss="modal">
              <i class="lni lni-cross-circle"></i>
            </button>
          </div>
          <div class="modal-body px-0">
            <div class="content mb-30">
              <div class="select-style-1 col rounded-sm">
                <label>Purchase Order Status</label>
                <div class="select-position">
                  <select>
                    <option value="1">Pending</option>
                    <option value="2">Approve</option>
                    <option value="3">Receive</option>
                    <option value="4">Reject</option>
                    <option value="5">Complete</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="action d-flex flex-wrap justify-content-end">
              <button type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                Cancel
              </button>
              <button type="submit" data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1">
                Send
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  // Delete Modal
  <div class="warning-modal">
    <div class="modal fade" id="@($"delete{i}")" tabindex="-1" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content card-style" action="/delete" method="post">
          <div class="modal-header px-0 border-0">
            <h5 class="text-bold">
              <i class="lni lni-warning text-danger me-2"></i> Are you sure
              you want to delete?
            </h5>
          </div>
          <div class="modal-body px-0">
            <div class="content mb-30">
              <p class="text-sm">
                Purchase Order with PO Number: @i will be deleted. data that has been deleted cannot be recovered!
              </p>
            </div>
            <div class="action d-flex flex-wrap justify-content-end">
              <button type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                Cancel
              </button>
              <button type="submit" class="main-btn warning-btn btn-hover m-1">
                Delete
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
}


@code{
  public int TotalRows { get; set; } = 10;
}