@page "/purchasing/list-order/{id}"
@inject NavigationManager NavigationManager

<PageTitle>Purchase Order Detail</PageTitle>

<TableSection Title="Purchase Order Detail" Link="/purchasing/list-order" LinkText="Purchase Order">
  <CustomComponent>
    <div class="d-flex justify-content-between">
      <div class="mb-3 row">
        <div class="col-md-4">
          <div class="row">
            <label for="poNumber" class="col-form-label col-5">PO Number</label>
            <div class="col">
              <input type="text" class="form-control-plaintext" readonly id="poNumber" value="@Header.PoheNumber">
            </div>
          </div>
          <div class="row">
            <label for="poDate" class="col-form-label col-5">PO Date</label>
            <div class="col">
              <input type="text" class="form-control-plaintext" readonly id="poDate" value="@Header.PoheOrderDate.ToString("dd/MM/yyyy")">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <label for="vendor" class="col-form-label col-4">Vendor</label>
            <div class="col">
              <input type="text" class="form-control-plaintext" readonly id="vendor" value="@Header.VendorName">
            </div>
          </div>
          <div class="row">
            <label class="col-form-label col-4">Status</label>
            <div class="col">
              <span class="status-btn @GetStatus(@Header.PoheStatus).Item1">@GetStatus(@Header.PoheStatus).Item2</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <label for="subTotal" class="col-form-label col-5">Sub total</label>
            <div class="col">
              <input type="text" class="form-control-plaintext" readonly id="subTotal" value="@(((decimal)Header.PoheSubtotal).ToString("C", new CultureInfo("id-ID")))">
            </div>
          </div>
          <div class="row">
            <label for="totalAmount" class="col-form-label col-5">Total amount</label>
            <div class="col">
              <input type="text" class="form-control-plaintext" readonly id="totalAmount" value="@(((decimal)Header.PoheTotalAmount).ToString("C", new CultureInfo("id-ID")))">
            </div>
          </div>
        </div>
        <span class="divider">
          <hr/>
        </span>
      </div>
    </div>
  </CustomComponent>

  <Topbar>
    <TableToolbar Placeholder="Stock Name..." OnSearchChanged="SearchChanged"/>
  </Topbar>

  <Thead>
  <tr>
    <th data-sortable class="@(_param.OrderBy switch { "StockName desc" => "desc", "StockName asc" => "asc", _ => ""})" onclick="@(() => SortChanged("StockName"))">
      <a class="dataTable-sorter">
        <h6>Stock Name</h6>
      </a>
    </th>
    <th data-sortable class="@(_param.OrderBy switch { "PodeOrderQty desc" => "desc", "PodeOrderQty asc" => "asc", _ => ""})" onclick="@(() => SortChanged("PodeOrderQty"))">
      <a class="dataTable-sorter">
        <h6>Qty</h6>
      </a>
    </th>
    <th data-sortable class="@(_param.OrderBy switch { "PodePrice desc" => "desc", "PodePrice asc" => "asc", _ => ""})" onclick="@(() => SortChanged("PodePrice"))">
      <a class="dataTable-sorter">
        <h6>Price</h6>
      </a>
    </th>
    <th data-sortable class="@(_param.OrderBy switch { "PodeReceivedQty desc" => "desc", "PodeReceivedQty asc" => "asc", _ => ""})" onclick="@(() => SortChanged("PodeReceivedQty"))">
      <a class="dataTable-sorter">
        <h6>Received</h6>
      </a>
    </th>
    <th data-sortable class="@(_param.OrderBy switch { "PodeRejectedQty desc" => "desc", "PodeRejectedQuantity asc" => "asc", _ => ""})" onclick="@(() => SortChanged("PodeRejectedQty"))">
      <a class="dataTable-sorter">
        <h6>Rejected</h6>
      </a>
    </th>
    <th data-sortable class="@(_param.OrderBy switch { "PodeLineTotal desc" => "desc", "PodeLineTotal asc" => "asc", _ => ""})" onclick="@(() => SortChanged("PodeLineTotal"))">
      <a class="dataTable-sorter">
        <h6>Total</h6>
      </a>
    </th>
    <th>
      <h6>Action</h6>
    </th>
  </tr>
  </Thead>
  <Tbody>

  @if (DataList != null)
  {
    @foreach (var item in DataList)
    {
      <tr>
        <td>
          <p>@item.StockName</p>
        </td>
        <td>
          <p>@item.PodeOrderQty</p>
        </td>
        <td>
          <p>@(((decimal)item.PodePrice).ToString("C", new CultureInfo("id-ID")))</p>
        </td>
        <td>
          <p>@item.PodeReceivedQty</p>
        </td>
        <td>
          <p>@item.PodeRejectedQty</p>
        </td>
        <td>
          <p>@(((decimal)item.PodeLineTotal).ToString("C", new CultureInfo("id-ID")))</p>
        </td>
        <td>
          <div class="action">
            <button class="text-gray" data-bs-toggle="modal" data-bs-target="#update" @onclick="() => OnUpdate(item)">
              <i class="lni lni-pencil"></i>
            </button>
            <button class="text-danger" @onclick="() => OnDelete(item.PodeId)">
              <i class="lni lni-trash-can"></i>
            </button>
          </div>
        </td>
      </tr>
    }
  }
  </Tbody>
  <Page>
    <Paging MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"/>
  </Page>
</TableSection>

@* // Update Modal *@
<div class="warning-modal">
  <div class="modal fade" id="update" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <form class="modal-content card-style" action="/update" method="post">
        <div class="modal-header px-0 border-0">
          <h5 class="text-bold">Edit Quantity</h5>
          <button type="button" class="border-0 bg-transparent h1" data-bs-dismiss="modal">
            <i class="lni lni-cross-circle"></i>
          </button>
        </div>
        <div class="modal-body px-0">
          <div class="content mb-30 row">
            <div class="col-12">
              <div class="input-style-1">
                <label for="stockName">Stock Name</label>
                <input type="text" readonly id="stokName" name="stokName" @bind-value="toUpdate.StockName" disabled>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="input-style-1">
                <label for="orderQty">Order Qty</label>
                <input type="number" min="0" id="orderQty" name="orderQty" @bind-value="toUpdate.PodeOrderQty" required>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="input-style-1">
                <label for="receivedQty">Received</label>
                <input type="number" min="0" id="receivedQty" name="receivedQty" @bind-value="toUpdate.PodeReceivedQty" required>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="input-style-1">
                <label for="rejectedQty">Rejected</label>
                <input type="number" min="0" id="rejectedQty" name="rejectedQty" @bind-value="toUpdate.PodeRejectedQty" required>
              </div>
            </div>
            <button type="button" data-bs-dismiss="modal" class="main-btn primary-btn-outline btn-hover m-1">
              Generate Barcode
            </button>
          </div>
          <div class="action d-flex flex-wrap justify-content-end">
            <button type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
              Cancel
            </button>
            <button type="button" data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1" @onclick="() => OnUpdateConfirmed()">
              Send
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<DeleteModal @ref="_del" OnDeletedData="OnDeleteConfirmed"/>
<SuccessNotification @ref="_notif"/>
