@page "/purchasing/list-order/{id}"

<PageTitle>Purchase Order Detail</PageTitle>

<section class="table-components">
  <div class="container-fluid">
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="title mb-30">
            <h2>Purchase Order Detail</h2>
          </div>
        </div>
        <!-- end col -->
        <div class="col-md-6">
          <div class="breadcrumb-wrapper mb-30">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/purchasing">Purchasing</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                  <a href="/purchasing/list-order">Purchase Order</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                  Detail
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <!-- ========== tables-wrapper start ========== -->
    <div class="tables-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <div class="card-style mb-30">
            <div class="mb-3 row g-3">
              <div class="col-md-4">
                <div class="row">
                  <label for="poNumber" class="col-form-label col-5">PO Number</label>
                  <div class="col">
                    <input type="email" class="form-control-plaintext" readonly id="poNumber" value="@Id">
                  </div>
                </div>
                <div class="row">
                  <label for="poDate" class="col-form-label col-5">PO Date</label>
                  <div class="col">
                    <input type="email" class="form-control-plaintext" readonly id="poDate" value="2023/03/03   ">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <label for="vendor" class="col-form-label col-4">Vendor</label>
                  <div class="col">
                    <input type="email" class="form-control-plaintext" readonly id="vendor" value="Cocoalatica LLC">
                  </div>
                </div>
                <div class="row">
                  <label class="col-form-label col-4">Status</label>
                  <div class="col">
                    <span class="status-btn success-btn">Pending</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <label for="subTotal" class="col-form-label col-5">Sub total</label>
                  <div class="col">
                    <input type="text" class="form-control-plaintext" readonly id="subTotal" value="IDR 5,000,000.00">
                  </div>
                </div>
                <div class="row">
                  <label for="totalAmount" class="col-form-label col-5">Total amount</label>
                  <div class="col">
                    <input type="text" class="form-control-plaintext" readonly id="totalAmount" value="IDR 5,750,000.00">
                  </div>
                </div>
              </div>
              <span class="divider">
                <hr/>
              </span>
            </div>
            <div class="d-flex flex-wrap justify-content-between align-items-center pb-3">
              <div class="left">
                <p>Show <span>15</span> entries</p>
              </div>
              <div class="right">
                <div class="table-search d-flex">
                  <form action="#">
                    <input type="text" placeholder="Search...">
                    <button>
                      <i class="lni lni-search-alt"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="table-wrapper table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>
                    <h6>#</h6>
                  </th>
                  <th>
                    <h6>Stock Name</h6>
                  </th>
                  <th>
                    <h6>Qty</h6>
                  </th>
                  <th>
                    <h6>Price</h6>
                  </th>
                  <th>
                    <h6>Received Qty</h6>
                  </th>
                  <th>
                    <h6>Rejected Qty</h6>
                  </th>
                  <th>
                    <h6>Total</h6>
                  </th>
                  <th>
                    <h6>Action</h6>
                  </th>
                </tr>
                <!-- end table row-->
                </thead>
                <tbody>
                @for (var i = 1; i <= @TotalRows; i++)
                {
                  <tr>
                    <td>
                      <p>@i</p>
                    </td>
                    <td>
                      <p>Product @i</p>
                    </td>
                    <td>
                      <p>10</p>
                    </td>
                    <td>
                      <p>IDR 500,000.00</p>
                    </td>
                    <td>
                      <p>8</p>
                    </td>
                    <td>
                      <p>2</p>
                    </td>
                    <td>
                      <p>IDR 4,000,000.00</p>
                    </td>
                    <td>
                      <div class="action">
                        <button class="text-gray" data-bs-toggle="modal" data-bs-target="#@($"updateItem{i}")">
                          <i class="lni lni-pencil"></i>
                        </button>
                        <button class="text-danger" data-bs-toggle="modal" data-bs-target="#@($"delete{i}")">
                          <i class="lni lni-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                }
                </tbody>
              </table>
              <!-- end table -->
            </div>

            <Paging/>

          </div>
          <!-- end card -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- ========== tables-wrapper end ========== -->
  </div>
  <!-- end container -->
</section>

@for (var i = 1; i <= @TotalRows; i++)
{
  // Update Modal
  <div class="warning-modal">
    <div class="modal fade" id="@($"updateItem{i}")" tabindex="-1" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content card-style" action="/update" method="post">
          <div class="modal-header px-0 border-0">
            <h5 class="text-bold">Update Item</h5>
            <button type="button" class="border-0 bg-transparent h1" data-bs-dismiss="modal">
              <i class="lni lni-cross-circle"></i>
            </button>
          </div>
          <div class="modal-body px-0">
            <div class="content mb-30">
              <div class="select-style-1 col rounded-sm">
                <div class="row">
                  <div class="col-12">
                    <div class="input-style-1">
                      <label for="stock">Stock Name</label>
                      <input type="text" id="stock" name="stock" placeholder="Name" readonly disabled>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="input-style-1">
                      <label for="orderQty">Order Qty</label>
                      <input type="number" name="orderQty" id="orderQty" min="0" class="bg-transparent" value="0">
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="input-style-1">
                      <label for="receivedQty">Received</label>
                      <input type="number" name="receivedQty" id="receivedQty" min="0" class="bg-transparent" value="0">
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="input-style-1">
                      <label for="rejectedQty">Rejected</label>
                      <input type="number" name="rejectedQty" id="rejectedQty" min="0" class="bg-transparent" value="0">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="action d-flex flex-wrap justify-content-end">
              <button type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                Cancel
              </button>
              <button type="submit" data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1">
                Send
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  // Delete Modal
  <div class="warning-modal">
    <div class="modal fade" id="@($"delete{i}")" tabindex="-1" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content card-style" action="/delete" method="post">
          <div class="modal-header px-0 border-0">
            <h5 class="text-bold">
              <i class="lni lni-warning text-danger me-2"></i> Are you sure
              you want to delete?
            </h5>
          </div>
          <div class="modal-body px-0">
            <div class="content mb-30">
              <p class="text-sm">
                Item will be deleted. data that has been deleted cannot be recovered!
              </p>
            </div>
            <div class="action d-flex flex-wrap justify-content-end">
              <button type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                Cancel
              </button>
              <button type="submit" class="main-btn warning-btn btn-hover m-1">
                Delete
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
}


@code {

  [Parameter]
  public string? Id { get; set; }

  [Parameter]
  public int TotalRows { get; set; } = 5;

}