@page "/purchasing/stocks"
@using Realta.Domain.RequestFeatures
@using Realta.Frontend.Components.Purchasing

<TableSection Title="Stocks"
              Link="/purchasing"
              LinkText="Purchasing">
  <CustomComponent>
    <div class="d-flex justify-content-end">
      <div class="select-style-1 mb-0 ml-10">
        <div class="select-position">
          <select class="p-0 pe-5 border-0" @onchange="applySort">
            <option value="stockName asc" selected>High</option>
            <option value="stockName desc">Lowest</option>
          </select>
        </div>
      </div>
    </div>
  </CustomComponent>
  <Topbar>
        <TableToolbar Placeholder="Stock Name" OnSearchChanged="SearchChange" />
  </Topbar>
  <Thead>
    <tr>
      <th class="min-width">
        <h6>Stock</h6>
      </th>
      <th class="min-width">
        <h6>Re-OrderPoint</h6>
      </th>
      <th class="min-width">
        <h6>Qty</h6>
      </th>
      <th class="min-width">
        <h6>Used</h6>
      </th>
      <th class="min-width">
        <h6>Scrap</h6>
      </th>
      <th class="min-width">
        <h6>Size - Color</h6>
      </th>
      <th>
        <h6>
            <button style="border: 0; background-color: transparent;" @onclick="(() => _createStock.Show())">
                <b>+ Add</b>
            </button>
         </h6>
      </th>
    </tr>
  </Thead>
  <Tbody>
    @if (stocksList != null)
        {
            foreach (var so in stocksList)
            {
              <tr>
                <td>
                  <p>@so.StockName</p>
                </td>
                <td>
                  <p>@so.StockReorderPoint</p>
                </td>
                <td>
                  <p>@so.StockQuantity</p>
                </td>
                <td>
                  <p>@so.StockUsed</p>
                </td>
                <td>
                  <p>@so.StockScrap</p>
                </td>
                <td>
                  <p>@so.StockSize - @so.StockColor</p>
                </td>
                <td>
                  <button class="more-btn ml-10 dropdown-toggle text-gray" id="moreAction" data-bs-toggle="dropdown" aria-expanded="false" title="more">
                    <span class="mdi mdi-dots-vertical"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction">
                    <li class="dropdown-item">
                        <a class="text-gray" @onclick="(() => UpdateStock(so.StockId.Value))">Edit</a>
                    </li>
                    <li class="dropdown-item">
                      <a class="text-gray" data-bs-toggle="modal" data-bs-target="#uploadFotoStock[@so.StockId.Value]">Upload Foto</a>
                    </li>
                    <li class="dropdown-item">
                                <a class="text-danger" @onclick="()=> onDelete(so.StockId.Value)">Delete</a>
                    </li>
                    <li class="dropdown-item">
                      <a class="text-gray" href="/purchasing/stock/@so.StockId">Detail Stock</a>
                    </li>
                  </ul>
                </td>
              </tr>
                                  
        }
        }
  </Tbody>
  <Page>    
        <Paging MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
  </Page>
</TableSection>

@* // Edit Stock Modal *@
<ModalUpdateStock @ref="_updateStock" getPaging="GetPaging" UpdateStock="GetUpdateStock" />

@* // Upload Foto Modal *@
<ModalUploadFotoStock PhotoList="stocksPhotoList" />

@* // Create Stock Modal *@
<ModalCreateStock @ref="_createStock" getPaging="GetPaging" />

@* // Delete Stock Modal *@
<DeleteModal Target="#delete" />
