@page "/purchasing/vendor-product/{Id:int}"

<TableSection Title="Vendor Product"
              Link="/purchasing/Vendor"
              LinkText="Vendor">

    <CustomComponent>
        <div class="d-flex justify-content-md-center">
            <div class="heading-four mb-30">
                <h4>@Header.VendorName</h4>
            </div>
        </div>
    </CustomComponent>

    <Topbar>
        <TableToolbar Placeholder="Product Name" OnSearchChanged="SearchChanged"/>
    </Topbar>

    <Thead>
    <tr>
        <th class="min-width">
            <h6>#</h6>
        </th>
        <th data-sortable class="@(_vendproParameters.OrderBy switch { "stockName desc" => "desc", "stockName asc" => "asc", _ => ""})" onclick="@(() => SortChanged("stockName"))">
            <a class="dataTable-sorter">
                <h6>Stock Name</h6>
            </a>
        </th>
        <th class="min-width">
            <h6>Qty Stocked</h6>
        </th>
        <th class="min-width">
            <h6>Qty Remaining</h6>
        </th>
        <th class="min-width">
            <h6>Price</h6>
        </th>
        <th class="min-width">
            <h6 class="text-sm text-medium">
                <a class="text-primary" href="#" data-bs-toggle="modal" data-bs-target="#@($"addProduct")">Add +</a>
            </h6>
        </th>
    </tr>
    </Thead>
    <Tbody>
    @foreach (var items in VendorListPaging)
    {
        <tr>
            <td class="min-width">
                <p>-</p>
            </td>
            <td class="min-width">
                <p>@items.StockName</p>
            </td>
            <td class="min-width">
                <p>@items.VeproQtyStocked</p>
            </td>
            <td class="min-width">
                <p>@items.VeproQtyRemaining</p>
            </td>
            <td class="min-width">
                <p> <span class="mdi mdi-currency-eur"></span> @string.Format("{0:#,0}", items.VeproPrice),-</p>
                @* <p> Rp. @string.Format("{0:#,0}", items.VeproPrice),-</p> *@
            </td>
            <td class="action">
                <button class="text-dark" title="Edit">
                    <i class="mdi mdi-pencil-outline" data-bs-toggle="modal" data-bs-target="#edit"></i>
                </button>
            </td>
        </tr>
    }
    </Tbody>
</TableSection>
<div class="row">
    <div class="col">
        <Paging MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"/>
    </div>
</div>

<!-- Modal Edit -->
<div class="warning-modal">
    <div class="modal fade" id="@($"edit")" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form class="modal-content card-style" action="/update" method="post">
                <div class="modal-header px-0 border-0">
                    <h5 class="text-bold">Edit Product</h5>
                    <button type="button" class="border-0 bg-transparent h1" data-bs-dismiss="modal">
                        <i class="lni lni-cross-circle"></i>
                    </button>
                </div>
                <div class="modal-body px-0">
                    <div class="row">
                        <div class="input-style-1 col-9 rounded-sm">
                            <label>Stock Name</label>
                            <div class="select-position">
                                <input class="form-control" type="text" placeholder="Sprei Putih" disabled>
                            </div>
                        </div>
                        <div class="input-style-1 col-6 rounded-sm">
                            <label for="exampleDate" class="form-label">Qty Stocked</label>
                            <input type="number" class="form-control" id="exampleDate" value="50">
                        </div>

                        <div class="input-style-1 col-6 rounded-sm">
                            <label for="exampleDate" class="form-label">Remaining</label>
                            <input type="number" class="form-control" id="exampleDate" value="22">
                        </div>
                        <div class="input-style-1 col-9 rounded-sm">
                            <label for="exampleDate" class="form-label">Sell Price</label>
                            <input type="number" class="form-control" id="exampleDate" value="Rp.500.000">
                        </div>
                    </div>
                </div>
                <div class="action d-flex flex-wrap justify-content-end">
                    <button type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                        Cancel
                    </button>
                    <button data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Add-->
<div class="warning-modal">
    <div class="modal fade" id="@($"addProduct")" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <EditForm autocomplete="off" class="modal-content card-style" Model="_venpro" OnValidSubmit="Create">
                <div class="modal-header px-0 border-0">
                    <h5 class="text-bold">Add Product</h5>
                    <button type="button" class="border-0 bg-transparent h1" data-bs-dismiss="modal">
                        <i class="lni lni-cross-circle"></i>
                    </button>
                </div>
                <div class="modal-body px-0">
                    <div class="row">
                        <div class="input-style-1 col-9 rounded-sm">
                            <label>Vendor Name</label>
                            <div class="select-position">
                                <input placeholder="@Header.VendorName" disabled>
                            </div>
                        </div>
                        <div class="input-style-1 col-9 rounded-sm">
                            <label>Stock Name</label>
                            <InputSelect @bind-Value="_venpro.VenproStockId" class="form-control">
                                <option value="" disabled selected>Choose Product...</option>
                                @foreach (var item in stocks )
                                {
                                    <option value="@item.VenproStockId">@item.StockName</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="input-style-1 col-6 rounded-sm">
                            <label class="form-label">Qty Stocked</label>
                            <InputNumber id="QtyStock" @bind-Value="_venpro.VeproQtyStocked"/>
                            <ValidationMessage For="@(() => _venpro.VeproQtyStocked)"/>
                        </div>

                        <div class="input-style-1 col-6 rounded-sm">
                            <label for="exampleDate" class="form-label">Remaining</label>
                            <InputNumber id="QtyRemaining" @bind-Value="_venpro.VeproQtyRemaining"/>
                            <ValidationMessage For="@(() => _venpro.VeproQtyRemaining)"/>
                        </div>
                        <div class="input-style-1 col-9 rounded-sm">
                            <label for="exampleDate" class="form-label">Sell Price</label>
                            <InputNumber id="SellPrice" @bind-Value="_venpro.VeproPrice"/>
                            <ValidationMessage For="@(() => _venpro.VeproPrice)"/>
                        </div>
                    </div>
                </div>
                <div class="action d-flex flex-wrap justify-content-end">
                    <button type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                        Cancel
                    </button>
                    <button data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1">
                        Save
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

<SuccessNotification @ref="_notification"/>
