@page "/purchasing/vendor"

<TableSection Title="Vendor"
              Link="/purchasing"
              LinkText="Purchasing">

    <Topbar>
        <TableToolbar Placeholder="Vendor Name" OnSearchChanged="SearchChanged"/>
    </Topbar>
    
    <Thead>
    <tr>
        <th class="min-width">
            <h6>#</h6>
        </th>
      <th data-sortable class="@(_vendorParameters.OrderBy switch { "VendorName desc" => "desc", "VendorName asc" => "asc", _ => ""})" onclick="@(() => SortChanged("VendorName"))">
        <a class="dataTable-sorter">
          <h6>Vendor Name</h6>
        </a>
      </th>
        <th class="min-width">
            <h6>Status</h6>
        </th>
        <th class="min-width">
            <h6>Priority</h6>
        </th>
        <th class="min-width">
            <h6>Register At</h6>
        </th>
        <th class="min-width">
            <h6>Web URL</h6>
        </th>
        <th>
            <h6 class="text-sm text-medium">
                <a a class="text-primary" href="#" data-bs-toggle="modal" data-bs-target="#@("addVendor")">Add +</a>
            </h6>
        </th>
    </tr>
    </Thead>
    <Tbody>

    @foreach (var items in VendorListPaging)
    {
        <tr>
            <td>
                <p>-</p>
            </td>
            <td>
                <p>@items.VendorName </p>
            </td>
            <td>
                <p>@items.VendorActive</p>
            </td>
            <td>
                <p>@items.VendorPriority</p>
            </td>
            <td>
                <p>@items.VendorModifiedDate</p>
            </td>
            <td>
                <p>@items.VendorWeburl</p>
            </td>
            <td>
                <button class="more-btn ml-10 dropdown-toggle text-gray" id="moreAction" data-bs-toggle="dropdown" aria-expanded="false" title="more">
                    <span class="mdi mdi-dots-vertical"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction">
                    <li class="dropdown-item">
                        <a class="text-gray" href="#" data-bs-toggle="modal" data-bs-target="#@($"edit{items.VendorEntityId}")"> Edit </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="text-gray" onclick="setVendorName('@items.VendorName')" href="/purchasing/vendor-product/@items.VendorEntityId"> Add Item Product </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="text-danger" href="" data-bs-toggle="modal" data-bs-target="#@($"delete{@items.VendorEntityId}")"
                           data-item-id="@items.VendorEntityId">
                            Delete
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    }

    </Tbody>
</TableSection>
    <div class="row">
        <div class="col">
            <Paging MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"/>
        </div>
    </div>


<!-- Modal Add Vendor -->
<div class="warning-modal">
    <div class="modal fade" id="@("addVendor")" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <EditForm autocomplete="off" class="modal-content card-style" Model="_vendor" OnValidSubmit="Create">
                <DataAnnotationsValidator/>
                <div class="modal-header px-0 border-0">
                    <h5 class="text-bold">Add Vendor</h5>
                    <button type="button" class="border-0 bg-transparent h1" data-bs-dismiss="modal">
                        <i class="lni lni-cross-circle"></i>
                    </button>
                </div>
                <div class="modal-body px-0">
                    <div class="row">
                        <div class="input-style-1">
                            <label for="name">Vendor Name</label>
                            <div class="select-position">
                                <InputText id="vendorName" @bind-Value="_vendor.VendorName"/>
                                <ValidationMessage For="@(() => _vendor.VendorName)"/>
                            </div>
                        </div>
                        <div class="select-style-1 col-6 rounded-sm">
                            <label>Status</label>
                            <div class="select-position"> 
                                <InputSelect  @bind-Value="_vendor.VendorActive" class="form-control"> 
                                    <option value="true" selected>Active</option> 
                                    <option value="false">Inactive</option> 
                                </InputSelect> 
                            </div> 
                        </div>
                        <div class="select-style-1 col-6 rounded-sm">
                            <label>Priority</label>
                            <div class="select-position">
                                <InputSelect  @bind-Value="_vendor.VendorPriority" class="form-control"> 
                                    <option value="true">Priority</option> 
                                    <option value="false" selected>NotPriority</option> 
                                </InputSelect> 
                            </div>
                        </div>
                        <div class="input-style-1 col-8 rounded-sm">
                            <label>Website</label>
                            <div class="select-position">
                                <InputText id="VendorWeburl" @bind-Value="_vendor.VendorWeburl" placeholder="URL..."/>
                                <ValidationMessage For="@(() => _vendor.VendorWeburl)"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="action d-flex flex-wrap justify-content-end">
                    <button type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                        Cancel
                    </button>
                    <button data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1">
                        Save
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>
<SuccessNotification @ref="_notification" />

<!-- Modal Edit Vendor -->
@foreach (var items in VendorListPaging)
{
    <div class="warning-modal">
        <div class="modal fade" id="@($"edit{items.VendorEntityId}")" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <form class="modal-content card-style" action="/update" method="post">
                    <div class="modal-header px-0 border-0">
                        <h5 class="text-bold">Edit Vendor</h5>
                        <button type="button" class="border-0 bg-transparent h1" data-bs-dismiss="modal">
                            <i class="lni lni-cross-circle"></i>
                        </button>
                    </div>
                    <div class="modal-body px-0">
                        <div class="row">
                            <div class="input-style-1 col-9 rounded-sm">
                                <label>Vendor Name</label>
                                <div class="select-position">
                                    <input class="form-control" type="text" placeholder="@items.VendorName">
                                </div>
                            </div>
                            <div class="select-style-1 col-6 rounded-sm">
                                <label>Status</label>
                                <div class="select-position">
                                    <select>
                                        <option value="1">Active</option>
                                        <option value="0">InActive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="select-style-1 col-6 rounded-sm">
                                <label>Priority</label>
                                <div class="select-position">
                                    <select>
                                        <option value="1">Highest</option>
                                        <option value="0">Lowest</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-style-1 col-8 rounded-sm">
                                <label>Website</label>
                                <div class="select-position">
                                    <input type="text" placeholder="@items.VendorWeburl"/>
                                </div>
                            </div>
                        </div>
                        <div class="action d-flex flex-wrap justify-content-end">
                            <button type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                                Cancel
                            </button>
                            <button type="submit" data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@foreach (var items in VendorListPaging)
{
    <!-- Seragam Modal Delete Vendor-->
    <div class="warning-modal">
        <div class="modal fade" id="@($"delete{items.VendorEntityId}")" tabindex="-1" aria-hidden="true" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content card-style warning-card text-center">
                    <div class="modal-body">
                        <div class="icon text-danger mb-20">
                            <i class="lni lni-warning"></i>
                        </div>
                        <div class="content mb-30">
                            <h2 class="mb-15">Warning!</h2>
                            <h5> Vendor will be deleted? </h5>
                            <p class="text-sm text-medium">
                                Data that has been deleted cannot be recovered
                            </p>
                        </div>
                        <div class="action d-flex flex-wrap justify-content-center">
                            <button data-bs-dismiss="modal" class="main-btn light-btn-outline rounded-full btn-hover m-1">
                                Cancel
                            </button>
                            <button data-bs-dismiss="modal" class="main-btn danger-btn rounded-full btn-hover m-1" @onclick="() => DeleteConfirmed(items.VendorEntityId)">
                                Continue
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@code {

    [Parameter]
    public int Id { get; set; }
}