@page "/payments/accounts"

<TableSection Title="Account"
              Link="/payments/accounts"
              LinkText="Payment">
    <Topbar>
        <TableToolbar Placeholder="Fintech Name" OnSearchChanged="SearchChanged" OnPageSizeChanged="PageSizeChanged"/>
    </Topbar>
    <Thead>
    <tr>
        <th>
            <h6>Account Number</h6>
        </th>
        <th>
            <h6>Payment</h6>
        </th>
        <th>
            <h6>Saldo</h6>
        </th>
        <th>
            <h6>Type</h6>
        </th>
        <th>
            <h6>
                <a href="#">Add +</a>
            </h6>
        </th>
    </tr>
    <!-- end table row-->
    </Thead>
    <Tbody>
    @foreach (var account in AccountList)
    {
        <tr>
            <td class="min-width">
                <p>@account.Number</p>
            </td>
            <td>
                <p>@account.CodeName</p>
            </td>
            <td>
                <p>Rp. @string.Format("{0:#,0}", @account.Saldo),-</p>
            </td>
            <td class="min-width">
                <p>@account.Type</p>
            </td>
            <td>
                <ActionPopup/>
            </td>
        </tr>
    }
    </Tbody>
    <Page>
        <Paging MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"/>
    </Page>
</TableSection>