@page "/payments/banks"

@inject NavigationManager NavigationManager

<TableSection Title="Bank"
              Link="/payments/banks"
              LinkText="Payment">

    <Topbar>
        <TableToolbar Placeholder="Bank Name" OnSearchChanged="SearchChanged" OnPageSizeChanged="PageSizeChanged"/>
    </Topbar>

    <Thead>
    <tr>
        <th>
            <h6>#</h6>
        </th>
        <th>
            <h6>Code</h6>
        </th>
        <th>
            <h6>Name</h6>
        </th>
        <th>
            <h6 class="text-sm text-medium">
                <a a class="text-primary" @onclick:preventDefault="true" @onclick="() => _bank = new()" data-bs-toggle="modal" data-bs-target="#addBank">
                    Add <span class="mdi mdi-layers-plus"></span>
                </a>
            </h6>
        </th>
    </tr>
    <!-- end table row-->
    </Thead>
    <Tbody>
    @foreach (var bank in BanksList)
    {
        <tr>
            <td class="min-width">
                <p>@bank.Id</p>
            </td>
            <td class="min-width">
                <p>@bank.Code</p>
            </td>
            <td class="min-width">
                <p>@bank.Name</p>
            </td>
            <td>
                <button class="more-btn ml-10 dropdown-toggle text-gray" id="moreAction" data-bs-toggle="dropdown" aria-expanded="false" title="more">
                    <span class="mdi mdi-dots-vertical mdi-2x"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction">
                    <li class="dropdown-item">
                        <a class="text-gray" @onclick:preventDefault="true" @onclick="() => OnUpdateBank(bank)" data-bs-toggle="modal" data-bs-target="#update"> Edit </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="text-danger" @onclick:preventDefault="true" @onclick="() => OnDelete(bank.Id)"
                           data-item-id="">
                            Delete
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    }
    </Tbody>
    <Page>
        <Paging MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"/>
    </Page>
</TableSection>


@* CREATE MODAL *@
<div class="warning-modal">
    <div class="modal fade" id="addBank" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content card-style">
                <div class="modal-header px-0 border-0">
                    <h5 class="text-bold">Create Bank</h5>
                    <button type="button" class="border-0 bg-transparent h1" data-bs-dismiss="modal">
                        <i class="lni lni-cross-circle"></i>
                    </button>
                </div>
                <div class="modal-body px-0">
                    <EditForm Model="_bank" OnValidSubmit="onCreateConfirmed">
                        <DataAnnotationsValidator />
                        <div class="content mb-30">
                            <div class="modal-body px-0">
                                <div class="row">
                                    <div class="input-style-1">
                                        <label for="bankCode">Bank Code</label>
                                        <div class="select-position">
                                            <InputText type="text" id="bankCode" @bind-Value="_bank.Code"/>
                                            <ValidationMessage For="@(() => _bank.Code)"/>
                                            </div>
                                    </div>
                                    <div class="input-style-1">
                                        <label for="bankName">Bank Name</label>
                                        <div class="select-position">
                                            <InputText type="text" id="bankName" @bind-Value="_bank.Name"/>
                                            <ValidationMessage For="@(() => _bank.Name)"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action d-flex flex-wrap justify-content-end">
                        <button  type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                            Cancel
                        </button>
                        <button type="submit" data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1">
                            Create
                        </button>
                    </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>


@* UPDATE MODAL *@
<div class="warning-modal">
    <div class="modal fade" id="update" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content card-style">
                <div class="modal-header px-0 border-0">
                    <h5 class="text-bold">Edit Bank</h5>
                    <button type="button" class="border-0 bg-transparent h1" data-bs-dismiss="modal">
                        <i class="lni lni-cross-circle"></i>
                    </button>
                </div>
                <div class="modal-body px-0">
                    <EditForm Model="_bank" OnValidSubmit="onUpdateConfirmed">
                        <DataAnnotationsValidator />
                        <div class="content mb-30">
                            <div class="modal-body px-0">
                                <div class="row">
                                    <div class="input-style-1">
                                        <label for="bankCode">Bank Code</label>
                                        <div class="select-position">
                                            <InputText type="text" id="bankCode" @bind-Value="_bank.Code"/>
                                            <ValidationMessage For="@(() => _bank.Code)"/>
                                        </div>
                                    </div>
                                    <div class="input-style-1">
                                        <label for="bankName">Bank Name</label>
                                        <div class="select-position">
                                            <InputText type="text" id="bankName" @bind-Value="_bank.Name"/>
                                            <ValidationMessage For="@(() => _bank.Name)"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action d-flex flex-wrap justify-content-end">
                            <button  type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                                Cancel
                            </button>
                            <button type="submit" data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1">
                                Save
                            </button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

<ModalDelete @ref="_del" OnDeletedData="OnDeleteConfirmed"/>
<SuccessNotification @ref="_notif"/>