@page "/payments/transactions"
@using HotelRealtaPayment.Domain.RequestFeatures
@using Realta.Frontend.Features

<TableSection Title="Transaction"
              Link="/payments/transactions"
              LinkText="Payment">
    <Topbar>
         <TableToolbar Placeholder="Transaction Number" OnSearchChanged="SearchChanged"/>
     </Topbar>
    <Thead>
    <tr>
        <th>
            <h6>Transaction No</h6>
        </th>
        <th>
            <h6>Date</h6>
        </th>
        <th>
            <h6>Debet</h6>
        </th>
        <th>
            <h6>Credit</h6>
        </th>
        <th>
            <h6>Note</h6>
        </th>
        <th>
            <h6>Order Number</h6>
        </th>
        <th>
            <h6>Source</h6>
        </th>
        <th>
            <h6>Target</h6>
        </th>
        <th>
            <h6>Transaction Ref</h6>
        </th>
        <th>
            <h6>Type</h6>
        </th>
        <th>
            <h6>User</h6>
        </th>
    </tr>
    <!-- end table row-->
    </Thead>
    <Tbody>

    @foreach (var transaction in TransactionList)
    {
        <tr>
            <td>
                <p>@transaction.TransactionNumber</p>
            </td>
            <td>
                <p>@transaction.ModifiedDate.ToString("yyyy MMMM dd")</p>
            </td>
            <td>
                <p>Rp. @string.Format("{0:#,0}", @transaction.Debet),-</p>
            </td>
            <td>
                <p>Rp. @string.Format("{0:#,0}", @transaction.Credit),-</p>
            </td>
            <td>
                <p>@transaction.Note</p>
            </td>
            <td>
                <p>@transaction.OrderNumber</p>
            </td>
            <td>
                <p>@transaction.SourceId</p>
            </td>
            <td>
                <p>@transaction.TargetId</p>
            </td>
            <td>
                <p>@transaction.TransactionRef</p>
            </td>
            <td>
                <p>@transaction.Type</p>
            </td>
            <td>
                <p>@transaction.UserName</p>
            </td>
        </tr>
    }
    </Tbody>
    <Page>
        <Paging MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
    </Page>
</TableSection>