@page "/completeOrder"




<section class="tab-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Complete Your Order</h2>
                    
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#0">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item"><a href="Ordermenus">Order Menus</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    COmplete Your Order
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <!-- ========== form-layout-wrapper start ========== -->
        <div class="form-layout-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-style mb-30">
                        <h6 class="mb-25">Enter Your Detail</h6>
                        <form action="complete">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Full Name</label>
                                        <input type="text" placeholder="John Doe">
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Email</label>
                                        <input type="text" placeholder="johndoe@email.com">
                                    </div>
                                </div>

                                <!-- end col -->
                                <div class="col-sm-4">
                                    <div class="select-style-1">
                                        <label>Mobile Number</label>
                                        <div class="select-position">
                                            <select class="light-bg">
                                                <option value="">+62</option>
                                                <option value="">+1</option>

                                            </select>
                                        </div>
                                    </div>
                                    <!-- end select -->
                                </div>
                                <!-- end col -->
                                <div class="col-sm-8">
                                    <div class="input-style-1">
                                        <label style="background-color: transparent; color: white;">      sd    </label>
                                        <input type="text" placeholder="00611">
                                    </div>
                                </div>

                                <!-- end col -->
                                <!-- end col -->
                                <!----end>
@*
                                <div class="col-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap">
                                        <button class="main-btn primary-btn btn-hover w-100 text-center">
                                            Sign Up
                                        </button>
                                    </div>
                                </div>*@

                                <!-- end col -->
                                <!-- end col -->

                                <div class="col-12">
                                    <hr>

                                </div>

                                <!-- end col -->
                                <h6 class="mb-25">Payment</h6>
                                <div class="col-sm-3">
                                    <div class="select-style-1">
                                        <label>Type</label>
                                        <div class="select-position">
                                            <select class="light-bg" @bind="Ormetype">
                                                <option value="B">Bill</option>
                                                <option value="CR">Credit Card</option>
                                                <option value="C">Cash</option>
                                                <option value="D">Debit</option>
                                                <option value="PG">Payment Gateway</option>

                                            </select>
                                        </div>
                                    </div>
                                    <!-- end select -->
                                </div>
                                <!-- end col -->
                                <div class="col-sm-9">
                                    <div class="input-style-1">
                                        <label style="background-color: transparent; color: white;">      sd    </label>
                                        <input type="text" @bind="OrmeCardNumb" placeholder="00611">
                                    </div>
                                </div>


                                <!---->
                                <!-- end col -->
                                <div class="col-sm-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap">

                                        <button class="main-btn primary-btn btn-hover w-100 text-center" id="myButton" disabled>
                                            Validate    
                                        </button>
                                    </div>
                                </div>

                            </div>


                            <!-- end row -->



                        </form>
                    </div>

                    <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-lg-6">
                    <div class="card-style mb-30">
                        <h6 class="mb-25">Item Ordered</h6>
                        <form action="#">
                            <div class="row">

                                @if (Cart.Instance.Items.Any())
                                {
                                    <div class="card-body">
                                        @foreach (var item in Cart.Instance.Items)
                                        {
                                            <div class="d-flex justify-content-between">
                                                <p class="card-text text-sm fw-bold text-muted">
                                                    <produk></produk>
                                                </p>

                                            </div>
                                            <p class="card-text text-sm mb-2">@item.RestoMenusOrder.RemeName</p>
                                            <div class="row">
                                                <label for="price" class="card-text text-sm form-label text-muted col">Price</label>
                                                <div class="col-7">
                                                    <input type="text" name="price" id="price" class="form-control form-control-sm text-sm text-muted border-0 bg-transparent" value="@item.RestoMenusOrder.RemePrice.ToString("C0", new CultureInfo("id-ID"))" readonly />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label for="Qty" class="card-text text-sm form-label text-muted col">Qty</label>
                                                <div class="col-7">
                                                    <input type="text" name="Qty" id="Qty" class="form-control form-control-sm text-sm text-muted border-0 bg-transparent" value="@item.Quantity" readonly />
                                                </div>
                                            </div>
                                         
                                            <div class="row">
                                                <label for="subtotal" class="card-text text-sm form-label text-muted col">Sub total</label>
                                                <div class="col-7">
                                                    <input type="text" name="subtotal" id="subtotal" class="form-control form-control-sm text-sm text-muted border-0 bg-transparent" value="@item.Subtotal.ToString("C0", new CultureInfo("id-ID"))" readonly />
                                                </div>
                                            </div>
                                            <hr />
                                        }
                                        <div class="row">
                                            <label for="subtotal" class="card-text fw-bold form-label text-muted col">Sub total</label>
                                            <div class="col-7">
                                                <input type="text" name="subtotal" id="subtotal" class="form-control form-control-sm fw-bold text-muted border-0 bg-transparent" value="@Cart.Instance.TotalPriceExcludingTax.ToString("C0", new CultureInfo("id-ID"))" readonly />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="tax" class="card-text fw-bold form-label text-muted col">Tax (10%)</label>
                                            <div class="col-7">
                                                <input type="text" name="tax" id="tax" class="form-control form-control-sm fw-bold text-muted border-0 bg-transparent" value="@Cart.Instance.TaxAmount.ToString("C0", new CultureInfo("id-ID"))" readonly />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="total" class="card-text fw-bold form-label text-muted col">Total</label>
                                            <div class="col-7">
                                                <input type="text" name="total" id="total" class="form-control form-control-sm fw-bold text-muted border-0 bg-transparent" value="@Cart.Instance.TotalPrice.ToString("C0", new CultureInfo("id-ID"))" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <a href="receipt" class="main-btn primary-btn btn-sm rounded-0 btn-hover w-100 rounded-bottom rounded-top-0" @onclick = "OnUpdate">Request order</a>
                                    </div>
                                }

                            </div>
                            <!-- end row -->
                        </form>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== form-layout-wrapper end ========== -->
    </div>
    <!-- end container -->
</section>