@page "/receipt"





<section class="tab-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Complete Your Order</h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#0">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#0">Forms</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Form Layout
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <!-- ========== form-layout-wrapper start ========== -->
        <div id="printThis" class="row g-0 align-items-center justify-content-center">
    
            <div class="col-lg-4 col-md-4 col-sm-10">
                <div class="single-pricing active">
                    <span class="popular">Realta</span>
                    <h2>Hotel Realta</h2>
                    <h5 style="text-align: center; font-size: 14px;">@_toGet.OrmeInvoice </h5>
                    <br />
                    <p style="text-align: left; font-size: 14px;">Order Number : @_toGet.OrmeOrderNumber </p>
                    <p style="text-align: left; font-size: 14px;">Payment Type : @_toGet.OrmePayType</p>
                    <p style="text-align: left; font-size: 14px;">User         : @_toGet.OrmeUserId</p>

                 
                    @if (Cart.Instance.Items.Any())
                    {
                        <div class="card-body">
                            @foreach (var item in Cart.Instance.Items)
                            {
                                <div class="d-flex justify-content-between">
                                    <p class="card-text text-sm fw-bold text-muted">
                                        <produk></produk>
                                    </p>

                                </div>
                                <p class="card-text text-sm mb-2">@item.RestoMenusOrder.RemeName</p>
                                <div class="row">
                                    <label for="price" class="card-text text-sm form-label text-muted col">Price</label>
                                    <div class="col-7">
                                        <input type="text" name="price" id="price" class="form-control form-control-sm text-sm text-muted border-0 bg-transparent" value="@item.RestoMenusOrder.RemePrice.ToString("C0", new CultureInfo("id-ID"))" readonly />
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="Qty" class="card-text text-sm form-label text-muted col">Qty</label>
                                    <div class="col-7">
                                        <input type="text" name="Qty" id="Qty" class="form-control form-control-sm text-sm text-muted border-0 bg-transparent" value="@item.Quantity" readonly />
                                    </div>
                                </div>
                              
                                <div class="row">
                                    <label for="subtotal" class="card-text text-sm form-label text-muted col">Sub total</label>
                                    <div class="col-7">
                                        <input type="text" name="subtotal" id="subtotal" class="form-control form-control-sm text-sm text-muted border-0 bg-transparent" value="@item.Subtotal.ToString("C0", new CultureInfo("id-ID"))" readonly />
                                    </div>
                                </div>
                                <hr />
                            }
                            <div class="row">
                                <label for="subtotal" class="card-text fw-bold form-label text-muted col">Sub total</label>
                                <div class="col-7">
                                    <input type="text" name="subtotal" id="subtotal" class="form-control form-control-sm fw-bold text-muted border-0 bg-transparent" value="@Cart.Instance.TotalPriceExcludingTax.ToString("C0", new CultureInfo("id-ID"))" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <label for="tax" class="card-text fw-bold form-label text-muted col">Tax (10%)</label>
                                <div class="col-7">
                                    <input type="text" name="tax" id="tax" class="form-control form-control-sm fw-bold text-muted border-0 bg-transparent" value="@Cart.Instance.TaxAmount.ToString("C0", new CultureInfo("id-ID"))" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <label for="total" class="card-text fw-bold form-label text-muted col">Total</label>
                                <div class="col-7">
                                    <input type="text" name="total" id="total" class="form-control form-control-sm fw-bold text-muted border-0 bg-transparent" value="@Cart.Instance.TotalPrice.ToString("C0", new CultureInfo("id-ID"))" readonly />
                                </div>
                            </div>
                        </div>

                    }
                 <a href="/Ordermenus" class="main-btn primary-btn btn-sm btn-hover" @onclick="Cart.Instance.Clear">Ordered</a>


              
                    </div>
                </div>
            </div>
         
        </div>
      
        <!-- ========== form-layout-wrapper end ========== -->
    
    
    
    
    <!-- end container -->
</section>

