@page "/restoMenus"
@using Realta.Frontend.Components.Resto

<style>

    .upload-container {
        position: relative;
        display: inline-block;
    }

    .upload-img {
        display: block;
        width: 100%;
        height: auto;
    }

    .upload-label {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.5rem;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-size: 1rem;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }

        .upload-label:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }

        .upload-label i {
            margin-right: 0.5rem;
        }


    .upload-img {
        width: 125px;
        height: 125px;
    }

    .upload-container1 {
        position: relative;
    }

    .upload-label-wrapper {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }


    .upload-container {
        margin-bottom: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

        .upload-container:not(:last-child) {
            margin-right: 20px;
        }

        .upload-container img {
            display: block;
            margin: 0 auto;
        }

    .btn-small {
        padding: 1px 3px;
        font-size: 8px;
        border-radius: 3px;
    }

</style>

<section class="table-components">
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6"><div class="title mb-30"><h2>Resto Menus</h2></div></div>

                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#0">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Resto Menus
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>



        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <h6 class="mb-10">Responsive Data Table</h6>
                        <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                            <div class="left"><p>Show <span>10</span> entries</p></div>
                            <div class="right">
                                <div class="table-search d-flex">
                                    <form action="#">
                                        <div class="d-flex align-items-center">
                                            <Search OnSearchChanged="SearchChange" />
                                            <Sort OnSortChanged="SortChgane" />
                                        </div>
                                        <button disabled><i class="lni lni-search-alt"></i></button>
                                    </form>
                                </div>


                            </div>
                        </div>
                        <div class="table-wrapper table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>

                                        <th>
                                            <h6 class="text-sm text-medium"> Icon </h6>
                                        </th>

                                        <th class="min-width">
                                            <h6 class="text-sm text-medium">Menu Name</h6>
                                        </th>
                                        <th class="min-width">
                                            <h6 class="text-sm text-medium">Price</h6>
                                        </th>
                                        <th class="min-width">
                                            <h6 class="text-sm text-medium">Type</h6>
                                        </th>
                                        <th class="min-width" style="text-align: center;">
                                            <h6 class="text-sm text-medium">Status</h6>
                                        </th>
                                        <th class="min-width" style="text-align: left;">
                                            <h6 class="text-sm text-medium">
                                                <a class="dropdown-item btn btn-sm" data-bs-toggle="modal" data-bs-target="#create"> Add +</a>
                                            </h6>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in RestoMenusListPaging)
                                    @*    @for (var i = 0; i <= 3; i++)*@
                                    {

                                        <tr>

                                            <td border="1" width="100px">
                                                <div class="product">
                                                    <div>
                                                        <img src="https://localhost:7068/Resources/Images/@item.RempPhotoFilename" alt="@item.RempPhotoFilename" width="50" height="50">

                                                    </div>

                                                </div>
                                            </td>

                                            <td>
                                                <p class="text-sm">@item.RemeName</p>
                                            </td>
                                            <td>
                                                <p class="text-sm">Rp. @string.Format("{0:n0}", item.RemePrice)</p>
                                            </td>
                                            <td>
                                                <p class="text-sm">@item.RemeType</p>
                                            </td>
                                            <td class="text-center">
                                                @{
                                                    if (item.RemeStatus == "Available")
                                                    {
                                                        <span class="status-btn primary-btn">Available</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="status-btn danger-btn">Unavailable</span>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                <div class="text-sm" style="margin-left: 20px;">

                                                    <button class="more-btn ml-10 dropdown-toggle" id="moreAction1" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="lni lni-more-alt"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction1" style="">

                                                        <li class="dropdown-item">
                                                            <a class="main-btn danger-btn btn-small btn-hover" @onclick="()=> Delete(item.RemeId)">Delete</a>

                                                        </li>
                                                        <li class="dropdown-item">
                                                            <a class="main-btn warning-btn btn-small btn-hover" data-bs-toggle="modal" data-bs-target="#update" @onclick="()=> OnUpdate(item)">Update</a>

                                                        </li>

                                                        <li class="dropdown-item">
                                                            <a class="main-btn primary-btn btn-small btn-hover" data-bs-toggle="modal" data-bs-target="#updatep">Insert Photo</a>

                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"></Pagination>





                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Modal create -->
<div class="modal modal-lg fade" id="@("create")" tabindex="-1" aria-labelledby="EditLabel" aria-hidden="true">
    <div class="modal-dialog">
        <EditForm autocomplete="off" class="modal-content card-style" Model="_restoMenus" OnValidSubmit="Create">
            <DataAnnotationsValidator />
            <div class="modal-header">
                <h5 class="modal-title" id="EditLabel">Add Resto Menus</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="input-style-1 col-9 rounded-sm">
                        <label>Resto Name</label>
                        <div class="select-position">
                            <InputText id="RemeName" @bind-Value="_restoMenus.RemeName" />
                            <ValidationMessage For="@(() => _restoMenus.RemeName)" />
                        </div>
                    </div>
                    <div class="input-style-1 col-3 rounded-sm">
                        <label>Price</label>
                        <div class="select-position">
                            <InputNumber id="RemePrice" @bind-Value="_restoMenus.RemePrice" />
                            <ValidationMessage For="@(() => _restoMenus.RemePrice)" />
                        </div>
                    </div>
                    <div class="input-style-1 col-6 rounded-sm">
                        <label>Desc</label>
                        <div class="select-position">
                            <InputText id="RemeDescription" @bind-Value="_restoMenus.RemeDescription" />
                            <ValidationMessage For="@(() => _restoMenus.RemeDescription)" />
                        </div>
                    </div>
                    <div class="select-style-1 col-6 rounded-sm">
                        <label>Status</label>
                        <div class="select-position">
                            <div class="select-position">
                                <InputSelect id="RemeStatus" @bind-Value="_restoMenus.RemeStatus" class="form-control">
                                    <option value="asd" selected>Available</option>
                                    <option value="_asd">Unavailable</option>
                                </InputSelect>
                            </div>
                        </div>
                    </div>
                    <div class="input-style-1 col-6 rounded-sm">
                        <label>Type</label>
                        <div class="select-position">
                            <InputText id="RemeType" @bind-Value="_restoMenus.RemeType" />
                            <ValidationMessage For="@(() => _restoMenus.RemeType)" />
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container">
                    <div class="row">
                        @for (var i = 0; i <= 3; i++)
                        {
                            <div class="col-sm-3">
                                <div class="upload-container">
                                    <img src="vendor/assets/images/resto/meal-food-icon.png" alt="Foto 4" class="img-fluid upload-img">
                                    <label for="file2" class="upload-label">
                                        <i class="bi bi-cloud-upload"></i> Choose Image
                                    </label>
                                    <input type="file" id="file2" style="display:none;">
                                </div>
                                <div>
                                    <input type="radio" name="primary_key" value="1">
                                    <label> Primary Image</label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="action d-flex flex-wrap justify-content-end">
                <button type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                    Cancel
                </button>
                <button data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1">
                    Save
                </button>
            </div>
        </EditForm>
    </div>
</div>

<!--Modal Edit Photo--->
<div class="modal modal-lg fade" id="updatep" tabindex="-1" aria-labelledby="EditLabel" aria-hidden="true">
    <div class="modal-dialog">
        <EditForm autocomplete="off" class="modal-content card-style" Model="_restoMenus" OnValidSubmit="Create">
            <DataAnnotationsValidator />
            <div class="modal-header">
                <h5 class="modal-title" id="EditLabel">Add Resto Menus</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div>
                <div class="container">
                    <div class="row">
                        @for (var i = 0; i <= 3; i++)
                        {
                            <div class="col-sm-3">
                                <div class="upload-container">
                                    <img src="vendor/assets/images/resto/meal-food-icon.png" alt="Foto 4" class="img-fluid upload-img">
                                    <label for="file2" class="upload-label">
                                        <i class="bi bi-cloud-upload"></i> Choose Image
                                    </label>
                                    <input type="file" id="file2" style="display:none;">
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="action d-flex flex-wrap justify-content-end">
                <button type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                    Cancel
                </button>
                <button data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1">
                    Save
                </button>
            </div>
        </EditForm>
    </div>
</div>


<!-- Modal update -->

<div class="modal modal-lg fade" id="update" tabindex="-1" aria-labelledby="EditLabel" aria-hidden="true">
    <div class="modal-dialog">
        <EditForm autocomplete="off" class="modal-content card-style" Model="_restoDto" OnValidSubmit="OnUpdateConf">
            <DataAnnotationsValidator />
            <div class="modal-header">
                <h5 class="modal-title" id="EditLabel">Add Resto Menus</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="input-style-1 col-9 rounded-sm">
                        <label>Resto Name</label>
                        <div class="select-position">
                            <InputText id="RemeName" @bind-Value="_restoDto.RemeName" />
                            <ValidationMessage For="@(() => _restoDto.RemeName)" />
                        </div>
                    </div>
                    <div class="input-style-1 col-3 rounded-sm">
                        <label>Price</label>
                        <div class="select-position">
                            <InputNumber id="RemePrice" @bind-Value="_restoDto.RemePrice" min="0" />
                            <ValidationMessage For="@(() => _restoDto.RemePrice)" />


                        </div>

                    </div>
                    <div class="select-style-1 col-6 rounded-sm">
                        <label>Status</label>
                        <div class="select-position">
                            <div class="select-position">
                                <InputSelect id="RemeStatus" @bind-Value="_restoDto.RemeStatus" class="form-control">
                                    <option value="Available">Available</option>
                                    <option value="Unavailable">Unavailable</option>
                                    <ValidationMessage For="@(() => _restoDto.RemeDescription)" />
                                </InputSelect>
                            </div>
                        </div>
                    </div>
                    <div class="input-style-1 col-6 rounded-sm">
                        <label>Type</label>
                        <div class="select-position">
                            <InputText id="RemeType" @bind-Value="_restoDto.RemeType" />
                            <ValidationMessage For="@(() => _restoDto.RemeType)" />
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
            <div class="action d-flex flex-wrap justify-content-end">
                <button type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                    Cancel
                </button>
                <button data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1">
                    Save
                </button>
            </div>
        </EditForm>
    </div>
</div>
<SuccessNotification @ref="_notification" />

