@page "/hotelList"
@using Microsoft.AspNetCore.Components
@using Realta.Contract.Models
@using Realta.Frontend.HttpRepository.Booking
<section>
<div class="container-fluid">
    <div class="title-wrapper pt-30">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="title mb-30 ml-20 mt-30">
                <h2>Hotel List</h2>
            </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30 mr-20 mt-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Hotel List
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <div class="container"><!--!-->
            <div class="row mt-3">
                <div class="col">
                    <div class="card-style mb-30">
                        <form class="">
                                <div class="row mb-0">
                                    <div class="col-lg-3 col-xl-3">
                                        <div class="input-style-1">
                                            <p class="ml-5">Hotel Name :</p>
                                            <input type="text" id="inputName" placeholder="Enter hotel name">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-xl-2">
                                        <div class="input-style-1">
                                            <p class="ml-5">Start Date :</p>
                                            <input type="date" id="inputStartDate" placeholder="Start Date">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-xl-2">
                                        <div class="input-style-1">
                                            <p class="ml-5">End Date :</p>
                                            <input type="date" id="inputEndDate" placeholder="End Date ">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-xl-3">
                                        <div class="input-style-1">
                                            <p class="ml-5">Room and Guest :</p>
                                            <input type="text" id="inputRoom" placeholder="Room and Guest">
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-xl-1 mt-30 ml-40 ">
                                        <a href="#0" class="main-btn success-btn btn-sm"> Search </a>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3">
                    <div class="card-style mb-30"><!--!-->
                        <h5>Filter</h5><br>
                        <form>
                            <div class="form-group"><!--!-->
                                <div class="input-style-1">
                                    <label for="inputMinPrice">Min Price</label>
                                    <input type="text" id="inputMinPrice" placeholder="Start Price">
                                </div>
                                <!--!-->
                                <div class="input-style-1">
                                    <label for="inputMaxPrice">Max Price </label>
                                    <input type="text" id="inputMaxPrice" placeholder="Max Price">
                                </div>
                                <div class="form-check checkbox-style mb-20">
                                    <input class="form-check-input" type="checkbox" name="facilityRadio" id="facilityRoomRadio" value="room">
                                    <label class="form-check-label" for="facilityRoomRadio">
                                        Room
                                    </label>
                                </div>
                                <div class="form-check checkbox-style mb-20">
                                    <input class="form-check-input" type="checkbox" name="facilityRadio" id="facilityRestoRadio" value="resto">
                                    <label class="form-check-label" for="facilityRestoRadio">
                                        Restaurant
                                    </label>
                                </div><!--!-->
                                <div class="form-check checkbox-style mb-20">
                                    <input class="form-check-input" type="checkbox" name="facilityRadio" id="facilityMeetingRoomRadio" value="meeting-room">
                                    <label class="form-check-label" for="facilityMeetingRoomRadio">
                                        Meeting Room
                                    </label>
                                </div><!--!-->
                                <div class="form-check checkbox-style mb-20"><input class="form-check-input" type="checkbox" name="facilityRadio" id="facilityGymRadio" value="gym"><!--!-->
                                    <!--!-->
                                    <label class="form-check-label" for="facilityGymRadio">
                                        Gym
                                    </label></div><!--!-->
                                <div class="form-check checkbox-style mb-20">
                                    <input class="form-check-input" type="checkbox" name="facilityRadio" id="facilityAulaRadio" value="aula"><!--!-->
                                    <!--!-->
                                    <label class="form-check-label" for="facilityAulaRadio">
                                        Aula
                                    </label>
                                </div>
                                <div class="form-check checkbox-style mb-20">
                                    <input class="form-check-input" type="checkbox" name="facilityRadio" id="facilityPoolRadio" value="swimming-pool"><!--!-->
                                    <!--!-->
                                    <label class="form-check-label" for="facilityPoolRadio">
                                        Swimming Pool
                                    </label>
                                </div>
                                <div class="form-check checkbox-style mb-20">
                                    <input class="form-check-input" type="checkbox" name="facilityRadio" id="facilityBalroomRadio" value="balroom"><!--!-->
                                    <!--!-->
                                    <label class="form-check-label" for="facilityBalroomRadio">
                                        Ballroom
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-20 ml-40">Filter</button>
                        </form>
                    </div>
                </div>
                <!--!-->

                <div class="col-xl-9 col-lg-9">
                    @foreach (var hotel in HotelsList.Take(displayCount))
                    {
                        <div class="card-style mb-30">
                            <div class="row">
                                <div class="card-image col-lg-5 col-xl-5">
                                    <a href="@hotel.FaciPhotoUrl" target="_blank">
                                        <img class="img-thumbnail" style="height: 230px; width: 450px" src="@hotel.FaciPhotoUrl" alt="@hotel.HotelName">
                                    </a>
                                </div>
                                <div class="card-content col-lg-7 col-xl-7">
                                    <h4>
                                        <a href="@hotel.FaciPhotoUrl" target="_blank">@hotel.HotelName</a>
                                    </h4>
                                    <h5 class="text-sm text-regular mb-10">@hotel.HotelAddress</h5>
                                    <h5 class="text-sm text-regular mb-10"><span class="mdi mdi-star"></span>@hotel.HotelRatingStar</h5>
                                    
                                    <h5 class="text-sm text-regular mb-10">@hotel.FaciName</h5>
                                    
                                    <button href="booking/@hotel.HotelId" class="main-btn primary-btn btn-hover" @onclick="() => RedirectId(hotel.HotelId)">Book Now</button>
                                </div>
                            </div>
                        </div>
                    }
                    @if (displayCount < HotelsList.Count())
                    {
                        <div class="text-center">
                            <button class="main-btn primary-btn btn-hover" @onclick="LoadMore">Load More</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>



@code {
    
    [Inject] 
    public IHotelHttpRepository HotelHttpRepository { get; set; }

    protected async override Task OnInitializedAsync()
    {
        HotelsList= await HotelHttpRepository.GetHotels();
    }
    
    private void LoadMore()
    {
        displayCount += incrementCount;
    }

    private int displayCount = 5;
    private int incrementCount = 5;
    
    

    private string FilterFacility { get; set; }

    private void HandleFilterFacilityChange(ChangeEventArgs e)
    {
        FilterFacility = e.Value.ToString();
    }

    
    };

   

}
