@page "/booking/room"
@using Microsoft.AspNetCore.Components
<link rel="stylesheet" href="HotelFacilitites.razor.css" />
<section class="card-components">
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Room Detail</h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">/</ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
            <!-- ========== cards-styles end ========== -->
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="card-style mb-30">
                    <form class="">
                        <div class="row mb-0">
                            <div class="col-lg-3 col-xl-3">
                                <div class="input-style-1">
                                    <input type="text" id="inputName" placeholder="Enter hotel name">
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3">
                                <div class="input-style-1">
                                    <input type="date" id="inputDate" placeholder="startDate-EndDate">
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-3">
                                <div class="input-style-1">
                                    <input type="text" id="inputRoom" placeholder="Room and Guest">
                                </div></div>
                            <div class="col-lg-3 col-xl-3">
                                <a href="#0" class="main-btn success-btn btn-hover"> Search </a>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="https://via.placeholder.com/800x400?text=Gambar+1" class="d-block w-100" alt="Gambar 1">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://via.placeholder.com/800x400?text=Gambar+2" class="d-block w-100" alt="Gambar 2">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://via.placeholder.com/800x400?text=Gambar+3" class="d-block w-100" alt="Gambar 3">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://via.placeholder.com/800x400?text=Gambar+4" class="d-block w-100" alt="Gambar 4">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://via.placeholder.com/800x400?text=Gambar+5" class="d-block w-100" alt="Gambar 5">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://via.placeholder.com/800x400?text=Gambar+6" class="d-block w-100" alt="Gambar 6">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-9 col-lg-4">
                            <div class="card-style-3 mb-30 mt-30">
                                <div class="card-content mt-10">
                                    @foreach (var hotel in hotelDesc)
                                    {
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6">
                                                <h2 class="mb-0 mr-20"><a href="#0"> @hotel.HotelName </a></h2>
                                                <h5 class="text-sm text-regular mt-0 mr-20"> @hotel.HotelLocation </h5>
                                                <p class="mt-15">
                                                    <span class="badge danger-btn">@hotel.MemberStatus</span>
                                                </p>
                                                <h5 class="text-medium mt-20 mb-10">Description</h5>
                                                <p class="mt-0">
                                                    @hotel.Description
                                                </p>
                                            </div>
                                            <div class="col-xl-6 col-lg-6">
                                                <li class="badge success-btn">
                                                    <span class="mdi mdi-star-box">@hotel.RatingStar</span>
                                                </li>
                                                <p style="font-size: 12px;">@hotel.RatingDescription</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="card-style-3 mb-30 mt-20" style="max-width: 750px; height: 70px"> 
                                    <div class="card-content mb-10" style="text-align: center;">
                                        <h4 class="mb-40 " style="justify-content: center; align-items: center; font-weight: bold;">ANOTHER ROOM</h4>
                                    </div>
                                </div>
                                <!-- Perulangan Hotel Lain -->
                                @foreach(var room in rooms)
                                {
                                    <div class="row mt-30 mb-30">
                                        <div class="card-body col-xl-5 col-lg-5">
                                            <h4 class="mt-20 ml-30">@room.RoomName</h4>
                                            <p class="mt-0 ml-30" style="font-size: 12px;">Kamar untuk @room.RoomCapacity orang</p>
                                            <h6 class="mt-50 ml-30">Rp. @room.RoomPrice <s class="ml-10">Rp. 1.000.000</s></h6>
                                        
                                        </div>
                                        <div class="card-body col-xl-7 col-lg-7">
                                            <a href="@room.RoomPicLink" target="_blank">
                                                <img class="card-img-top" src="@room.RoomPicLink" alt="Room Picture">
                                            </a>
                                        </div>
                                    </div>
                                    <hr/>
                                <!-- End Perulangan Hotel Lain -->
                                }
                                <div class="row mt-30 mb-30">
                                    <div class="card-body col-xl-6 col-lg-6">
                                        <h4 class="mt-20 ml-30">Rating And Review</h4>
                                        <p class="mt-10 ml-100 " style="font-size: 14px;"><span class="mdi mdi-star-box">4.5</span></p>
                                        <h6 class="mt-50 ml-40"> (336 ratings) Good </h6>
                                                                        
                                    </div>
                                    <div class="card-body col-xl-6 col-lg-6">
                                        <div class="card-style mb-30">
                                            <div class="file-list">
                                                <div class="file-item">
                                                    <div class="file-item-data w-100">
                                                        <div class="d-flex justify-content-between">
                                                            <h6 class="text-sm text-medium"><span class="mdi mdi-star-box">5</span></h6>
                                                            <h6 class="text-xs text-medium">60%</h6>
                                                        </div>
                                                        <div class="file-size-wrapper">
                                                            <div class="file-size bg-warning" style="width: 60%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="file-item">
                                                    <div class="file-item-data w-100">
                                                        <div class="d-flex justify-content-between">
                                                            <h6 class="text-sm text-medium"><span class="mdi mdi-star-box">4</span></h6>
                                                            <h6 class="text-xs text-medium">20%</h6>
                                                        </div>
                                                        <div class="file-size-wrapper">
                                                            <div class="file-size bg-warning" style="width: 20%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="file-item">
                                                    <div class="file-item-data w-100">
                                                        <div class="d-flex justify-content-between">
                                                            <h6 class="text-sm text-medium"><span class="mdi mdi-star-box">3</span></h6>
                                                            <h6 class="text-xs text-medium">10%</h6>
                                                        </div>
                                                        <div class="file-size-wrapper">
                                                            <div class="file-size bg-warning" style="width: 10%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="file-item">
                                                    <div class="file-item-data w-100">
                                                        <div class="d-flex justify-content-between">
                                                            <h6 class="text-sm text-medium"><span class="mdi mdi-star-box">2</span></h6>
                                                            <h6 class="text-xs text-medium">7%</h6>
                                                        </div>
                                                        <div class="file-size-wrapper">
                                                            <div class="file-size bg-warning" style="width: 7%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="file-item">
                                                    <div class="file-item-data w-100">
                                                        <div class="d-flex justify-content-between">
                                                            <h6 class="text-sm text-medium"><span class="mdi mdi-star-box">1</span></h6>
                                                            <h6 class="text-xs text-medium">3%</h6>
                                                        </div>
                                                        <div class="file-size-wrapper">
                                                            <div class="file-size bg-warning" style="width: 3%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xl-3">
                            <div class="card-style-3 mb-30 mt-30">
                                <div class="card-content mt-10">
                                    <h4><a href="#0">Card Title here </a></h4>
                                    <p>
                                        With supporting text below as a natural lead-in to
                                        additional content. consectetur adipiscing elit. Integer
                                        posuere erat a ante. With supporting text below as a
                                        natural lead-in to additional content. consectetur
                                        adipiscing elit. Integer posuere erat a ante.
                                    </p>
                                    <a href="#0" class="read-more">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
        <!-- end container -->
    </div>
</section>
@code
{
    public class RoomDesc
    {
        public string? RoomName { get; set; }
        public double RoomPrice { get; set; }
        public double RoomMaxPrice { get; set; }
        public int RoomCapacity { get; set; }
        public string RoomPicLink { get; set; }
    }

    public class HotelDesc
    {
        public string? HotelName { get; set; }
        public string? HotelLocation { get; set; }
        public double RatingStar { get; set; }
        public string? MemberStatus { get; set; }
        public string? Description { get; set; }
        public string? RatingDescription { get; set; }
    }

    private List<RoomDesc> rooms = new List<RoomDesc>
    {
        new RoomDesc
        {
            RoomName = "Regular Room",
            RoomPrice = 1_500_000,
            RoomMaxPrice = 2_000_000,
            RoomCapacity = 2,
            RoomPicLink = "https://via.placeholder.com/800x400?text=Gambar+1"
        },
        new RoomDesc
        {
            RoomName = "Deluxe Room",
            RoomPrice = 2_500_000,
            RoomMaxPrice = 3_500_000,
            RoomCapacity = 4,
            RoomPicLink = "https://via.placeholder.com/800x400?text=Gambar+1"
        },
        new RoomDesc
        {
            RoomName = "Diamond Room",
            RoomPrice = 3_500_000,
            RoomMaxPrice = 4_500_000,
            RoomCapacity = 5,
            RoomPicLink = "https://via.placeholder.com/800x400?text=Gambar+1"
        }
    };

    private List<HotelDesc> hotelDesc = new List<HotelDesc>
    {
        new HotelDesc
        {
            HotelName = "Hotel Name",
            HotelLocation = "Hotel Location",
            RatingStar = 4.5,
            MemberStatus = "VIP",
            Description = "Hotel ditengah kota",
            RatingDescription = "Good"

        }
    };
}

