@page "/booking/room"
<link rel="stylesheet" href="HotelFacilitites.razor.css"/>
<PageTitle>Booking Room Detail</PageTitle>
<section class="card-components">
<div class="container-fluid">
    <div class="title-wrapper pt-30">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="title mb-30">
                <h2>Room Detail</h2>
            </div>
        </div>
        <!-- end col -->
                <div class="col-md-6">
                  <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                          <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                          <a href="/hotelList">Hotel List</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                          Booking Room Detail
                        </li>
                      </ol>
                    </nav>
                  </div>
                </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    <!-- ========== cards-styles end ========== -->
</div>
<div class="row mt-3">
<div class="col">
<div class="card-style mb-30">
    <form class="">
        <div class="row mb-0">
            <div class="col-lg-3 col-xl-3">
                <div class="input-style-1">
                    <p class="ml-5">Hotel Name :</p>
                    <input type="text" id="inputName" placeholder="Enter hotel name">
                </div>
            </div>
            <div class="col-lg-2 col-xl-2">
                <div class="input-style-1">
                    <p class="ml-5">Start Date :</p>
                    <input type="date" id="inputStartDate" placeholder="Start Date">
                </div>
            </div>
            <div class="col-lg-2 col-xl-2">
                <div class="input-style-1">
                    <p class="ml-5">End Date :</p>
                    <input type="date" id="inputEndDate" placeholder="End Date ">
                </div>
            </div>
            <div class="col-lg-3 col-xl-3">
                <div class="input-style-1">
                    <p class="ml-5">Room and Guest :</p>
                    <input type="text" id="inputRoom" placeholder="Room and Guest">
                </div>
            </div>
            <div class="col-lg-1 col-xl-1 mt-30 ml-40 ">
                <a href="#0" class="main-btn success-btn btn-sm"> Search </a>
            </div>
        </div>
    </form>
</div>
<div class="card-style mb-30">
<div class="row">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://via.placeholder.com/800x400?text=Gambar+1" class="d-block w-100" alt="Gambar 1">
            </div>
            <div class="carousel-item">
                <img src="https://via.placeholder.com/800x400?text=Gambar+2" class="d-block w-100" alt="Gambar 2">
            </div>
            <div class="carousel-item">
                <img src="https://via.placeholder.com/800x400?text=Gambar+3" class="d-block w-100" alt="Gambar 3">
            </div>
            <div class="carousel-item">
                <img src="https://via.placeholder.com/800x400?text=Gambar+4" class="d-block w-100" alt="Gambar 4">
            </div>
            <div class="carousel-item">
                <img src="https://via.placeholder.com/800x400?text=Gambar+5" class="d-block w-100" alt="Gambar 5">
            </div>
            <div class="carousel-item">
                <img src="https://via.placeholder.com/800x400?text=Gambar+6" class="d-block w-100" alt="Gambar 6">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xl-7 col-lg-7">
        <div class="card-style-3 mb-30 mt-30">
            <div class="card-content mt-10">
                @foreach (var hotel in hotelDesc)
                {
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <h2 class="mb-0 mr-20">
                                <a href="#0"> @hotel.HotelName </a>
                            </h2>
                            <h5 class="text-sm text-regular mt-0 mr-20"> @hotel.HotelLocation </h5>
                            <p class="mt-15">
                                <span class="badge danger-btn">@hotel.MemberStatus</span>
                            </p>
                            <h5 class="text-medium mt-20 mb-10">Description</h5>
                            <p class="mt-0">
                                @hotel.Description
                            </p>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <li class="badge success-btn">
                                <span class="mdi mdi-star-box">@hotel.RatingStar</span>
                            </li>
                            <p class="fw-bold" style="font-size: 12px;">(@hotel.TotalRating Ratings) @hotel.RatingDescription</p>
                        </div>
                    </div>
                }
            </div>
            <div class="card-style-3 mb-30 mt-20" style="max-width: 750px; height: 70px">
                <div class="card-content mb-10" style="text-align: center;">
                    <h4 class="mb-40 " style="justify-content: center; align-items: center; font-weight: bold;">ANOTHER ROOM</h4>
                </div>
            </div>
            <!-- Perulangan Hotel Lain -->
            @foreach (var room in rooms)
            {
                <div class="row mt-30 mb-30">
                    <div class="card-body col-xl-5 col-lg-5">
                        <h4 class="mt-10 ml-10">@room.RoomName</h4>
                        <p class="mt-0 ml-10" style="font-size: 12px;">Kamar untuk @room.RoomCapacity orang</p>
                        <p class="mt-30 ml-10 mr-3 fw-bold" style="font-size: 12px">
                            @room.RoomPrice.ToString("C0", new CultureInfo("id-ID"))<s class="ml-10 text-danger"> @room.RoomMaxPrice.ToString("C0", new CultureInfo("id-ID"))</s>
                        </p>
                    </div>
                    <div class="card-body col-xl-7 col-lg-7">
                        <a href="@room.RoomPicLink" target="_blank">
                            <img class="card-img-top" src="@room.RoomPicLink" alt="Room Picture">
                        </a>
                        <div class="d-flex justify-content-end">
                            <button class="main-btn primary-btn btn-hover mt-10 mr-60" @onclick="() => { AddtoCart(room); }"> Add Room </button>
                        </div>
                    </div>
                </div>
                <hr/>
            }
                <!-- End Perulangan Hotel Lain -->
            
            <div class="row mt-30 mb-30">
                @foreach (var hotel in hotelDesc)
                {
                    <div class="card-body col-xl-6 col-lg-6">
                    <h4 class="mt-20 ml-30">Rating And Review</h4>
                    <p class="mt-10 ml-100 " style="font-size: 16px;">
                        <span class="mdi mdi-star-box">@hotel.RatingStar</span>
                    </p>
                    <h6 class="mt-50 ml-40"> (@hotel.TotalRating ratings) Good </h6>

                </div>
                }
                <div class="card-body col-xl-6 col-lg-6">
                    <div class="card-style mb-30">
                        <div class="file-list">
                            <div class="file-item">
                                <div class="file-item-data w-100">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="text-sm text-medium">
                                            <span class="mdi mdi-star-box">5</span>
                                        </h6>
                                        <h6 class="text-xs text-medium">60%</h6>
                                    </div>
                                    <div class="file-size-wrapper">
                                        <div class="file-size bg-warning" style="width: 60%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="file-item">
                                <div class="file-item-data w-100">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="text-sm text-medium">
                                            <span class="mdi mdi-star-box">4</span>
                                        </h6>
                                        <h6 class="text-xs text-medium">20%</h6>
                                    </div>
                                    <div class="file-size-wrapper">
                                        <div class="file-size bg-warning" style="width: 20%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="file-item">
                                <div class="file-item-data w-100">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="text-sm text-medium">
                                            <span class="mdi mdi-star-box">3</span>
                                        </h6>
                                        <h6 class="text-xs text-medium">10%</h6>
                                    </div>
                                    <div class="file-size-wrapper">
                                        <div class="file-size bg-warning" style="width: 10%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="file-item">
                                <div class="file-item-data w-100">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="text-sm text-medium">
                                            <span class="mdi mdi-star-box">2</span>
                                        </h6>
                                        <h6 class="text-xs text-medium">7%</h6>
                                    </div>
                                    <div class="file-size-wrapper">
                                        <div class="file-size bg-warning" style="width: 7%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="file-item">
                                <div class="file-item-data w-100">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="text-sm text-medium">
                                            <span class="mdi mdi-star-box">1</span>
                                        </h6>
                                        <h6 class="text-xs text-medium">3%</h6>
                                    </div>
                                    <div class="file-size-wrapper">
                                        <div class="file-size bg-warning" style="width: 3%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-5 col-lg-5">
        <div class="card-style-3 mb-30 mt-30">
            <div class="card-content mt-10 mb-0 ml-0">
                <div class="alert-box primary-alert">
                    <div class="alert">
                        <p style="font-size: 13px"; class="fw-bold">
                            Login to see lower price
                            <a href="#0" class="main-btn primary-btn btn-hover btn-sm mt-1 ml-10"> Login </a>
                        </p>
                    </div>
                </div>
                <!-- yang akan di hidden -->
                @if (Cart.Instance.getItems.Any())
                {
                    @foreach (var item in Cart.Instance.getItems)
                    { 
                        <div class="d-flex justify-content-between">
                            <h2 class="mb-20 mt-20">@item.Room.RoomName</h2>
                            <button type="button" class="border-0 bg-transparent h6" @onclick="() => RemoveItem(item.Room.RoomName)">
                                <i class="lni lni-trash-can text-danger"></i>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <p style="font-size: 12px"; class="fw-bold ">
                                    hari, DD bulan <br>-<br/> hari, DD bulan
                                </p>
                            </div>
                            <div class="col-5">
                                <p style="font-size: 12px"; class="fw-bold">
                                    1 Guest
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <label for="price" class="card-text text-sm form-label text-muted col">Price</label>
                            <div class="col-7">
                                <input type="text" name="price" id="price" class="form-control form-control-sm text-sm text-muted border-0 bg-transparent" value="@item.Room.RoomPrice.ToString("C0", new CultureInfo("id-ID"))" readonly/>
                            </div>
                        </div>
                        <div class="row">
                            <label for="qty" class="card-text text-sm form-label text-muted col">Qty</label>
                            <div class="col-7">
                                <input type="number" name="qty" id="qty" class="form-control form-control-sm text-sm text-muted border-0" min="1" value="@item.Quantity" @oninput="@(e => UpdateItemQuantity(item, int.Parse(e.Value.ToString())))"/>
                            </div>
                        </div>
                        <div class="row">
                            <label for="subtotal" class="card-text text-sm form-label text-muted col">Sub total</label>
                            <div class="col-7">
                                <input type="text" name="subtotal" id="subtotal" class="form-control form-control-sm text-sm text-muted border-0 bg-transparent" value="@item.Subtotal.ToString("C0", new CultureInfo("id-ID"))" readonly/>
                            </div>
                        </div>
                        <hr/>
                    }
                    <div class="d-flex justify-content-end">
                        <button type="button" class="main-btn primary-btn btn-hover mt-0 mb-20 mr-60" data-bs-toggle="modal" data-bs-target="#addCoupon">Get Coupons</button>
                    </div>
                    <!-- Pop up form -->

                    <div class="warning-modal">
                        <div class="modal fade" id="@($"addCoupon")" tabindex="-1" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <form class="modal-content card-style" action="/update" method="post">
                                    <div class="modal-header px-0 border-0">
                                        <h5 class="text-bold">Choose Coupon</h5>
                                        <button type="button" class="border-0 bg-transparent h1" data-bs-dismiss="modal">
                                            <i class="lni lni-cross-circle"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body px-0">
                                        @foreach (var item in coupon)
                                        {
                                            <div class="row mb-4">
                                                <div class="col-12">
                                                    <input type="checkbox" id="@item.Name" name="coupon" value="@item.DiscountPercent">
                                                    <label for="@item.Name">@item.Name</label>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    
                                    <div class="action d-flex flex-wrap justify-content-end">
                                        <button type="button" data-bs-dismiss="modal" class="main-btn danger-btn-outline btn-hover m-1">
                                            Cancel
                                        </button>
                                        <button data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1" @onclick="() => {}">
                                            Save
                                        </button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <p class="text-sm mb-10 fw-bold">Your Savings</p>
                        </div>
                        <div class="col-7">
                            <p class="text-sm mb-10 fw-bold">: Rp. </p>
                        </div>
                    </div>

                    <div class="row">
                        <label for="tax" class="card-text fw-bold form-label text-muted col">Tax (10%)</label>
                        <div class="col-7">
                            <input type="text" name="tax" id="tax" class="form-control form-control-sm fw-bold text-muted border-0 bg-transparent" value="@Cart.Instance.TaxAmount.ToString("C0", new CultureInfo("id-ID"))" readonly/>
                        </div>
                    </div>
                    <div class="row">
                        <label for="total" class="card-text fw-bold form-label text-muted col">Total</label>
                        <div class="col-7">
                            <input type="text" name="total" id="total" class="form-control form-control-sm fw-bold text-muted border-0 bg-transparent" value="@Cart.Instance.TotalPrice.ToString("C0", new CultureInfo("id-ID"))" readonly/>
                        </div>
                    </div>
                <a href="#0" class="main-btn primary-btn rounded-full btn-hover mt-20 ml-50">Continue To Book</a>
                }
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!-- end container -->
</div>
</section>

@code
{
    private readonly List<RoomDesc> rooms = new()
    {
        new()
        {
            RoomName = "Regular Room",
            RoomPrice = 1_500_000,
            RoomMaxPrice = 2_000_000,
            RoomCapacity = 2,
            RoomPicLink = "https://via.placeholder.com/800x400?text=Gambar+1"
        },
        new()
        {
            RoomName = "Deluxe Room",
            RoomPrice = 2_500_000,
            RoomMaxPrice = 3_500_000,
            RoomCapacity = 4,
            RoomPicLink = "https://via.placeholder.com/800x400?text=Gambar+1"
        },
        new()
        {
            RoomName = "Diamond Room",
            RoomPrice = 3_500_000,
            RoomMaxPrice = 4_500_000,
            RoomCapacity = 5,
            RoomPicLink = "https://via.placeholder.com/800x400?text=Gambar+1"
        }
    };

    private readonly List<HotelDesc> hotelDesc = new()
    {
        new HotelDesc()
        {
            HotelName = "Hotel Name",
            HotelLocation = "Hotel Location",
            RatingStar = 4.5,
            MemberStatus = "VIP",
            Description = "Hotel ditengah kota",
            RatingDescription = "Good",
            TotalRating = 337
        }
    };

    private readonly List<Coupon> coupon = new List<Coupon>()
    {
        new Coupon()
        {
            Id = 1,
            Name = "New Member",
            DiscountPercent = 10
        },
        new Coupon()
        {
            Id = 2,
            Name = "Using Gopay",
            DiscountPercent = 5
        },
        new Coupon()
        {
            Id = 3,
            Name = "More than 2 people",
            DiscountPercent = 15
        },
        new Coupon()
        {
            Id = 4,
            Name = "VIP Member",
            DiscountPercent = 20
        }
    };

    private void AddtoCart(RoomDesc desc)
    {
        Cart.Instance.AddItem(desc);
    }

    private void UpdateItemQuantity(CartItem item, int newQuantity)
    {
        if (newQuantity < 1)
        {
            newQuantity = 1;
        }

        if (item.Room != null) Cart.Instance.UpdateQuantity(item.Room.RoomName, newQuantity);

        StateHasChanged();
    }

    private static void RemoveItem(string roomName)
    {
        Cart.Instance.RemoveItem(roomName);
    }

    [Parameter]
    public int OrderDetail { get; set; } = 0;
    
}




    

    
    
    


    
 


