@using Realta.Frontend.Components
@using Realta.Frontend.HttpRepository.Purchasing

@if(_showBackdrop)
{
    <div class="warning-modal">
        <div class="modal @_modalClass" tabindex="-1" role="dialog" style="display:@_modalDisplay">
            <div class="modal-dialog modal-dialog" role="document">
                <div class="modal-content card-style warning-card">
                    <div class="modal-header px-0 border-0">
                        <h5 class="text-bold">Switch Status</h5>
                        <button type="button" class="border-0 bg-transparent h1" @onclick="Hide">
                            <i class="lni lni-cross-circle"></i>
                        </button>
                    </div>
                    <div class="modal-body px-0">
                        <EditForm Model="stocksDetail" OnValidSubmit="Update">
                        <DataAnnotationsValidator />
                        <div class="content mb-20">
                            <div class="row">
                                <div class="col">
                                    <div class="select-style-1 rounded-sm">
                                        <label>Status</label>
                                        <div class="select-position">
                                            <InputSelect @bind-Value="stocksDetail.StodStatus" >
                                                    <option value="1 ">Stocked</option>
                                                    <option value="2 ">Expired</option>
                                                    <option value="3 ">Broken</option>
                                                    <option value="4 ">Complete</option>
                                            </InputSelect>
                                            <ValidationMessage For="@( () => stocksDetail.StodStatus)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class=" mt-20">
                                        <p>Used In</p>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="input-style-3 rounded-sm">
                                        <div class="mt-10">
                                            <input value="@searchFaci" class="dataTable-input bg-transparent text-sm" 
                                            placeholder="Room, BallRoom, other facility" type="search" 
                                            @oninput="SearchChanged" >
                                            <ul class="dropdown-menu"
                                                style="display: @_styleDiplay; height: auto; max-height: 60px; overflow-x: hidden;">
                                                    @foreach (var item in DataPopup)
                                                    {
                                                        <li>
                                                            <a @onclick="(() => selectedRoom(item.StockId.Value, item.StockName))">
                                                                @item.StockName
                                                            </a>
                                                        </li>
                                                    }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-style-1 rounded-sm">
                                        <label>Notes</label>
                                        <InputText id="StockName" @bind-Value="stocksDetail.StodNotes" />
                                        <ValidationMessage For="@( () => stocksDetail.StodNotes)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action d-flex flex-wrap justify-content-end">
                            <button type="button" @onclick="Hide" class="main-btn danger-btn-outline btn-hover m-1">
                                Cancel
                            </button>
                            <button type="submit" data-bs-dismiss="modal" class="main-btn primary-btn btn-hover m-1">
                                Send
                            </button>
                        </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<SuccessNotification @ref="_notification" />

